<script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/07fd1ccd-f05b-4d31-94d4-a07a2e88cdad/0.4.0/assets/omnisend-in-shop.js"></script>
<script type="lazyload2">
	setTimeout(function() {
		jQuery("img[data-zoom-src]").each(function() {
			var zoomSrc = jQuery(this).data('zoom-src');
			jQuery(this).wrap('<span class="zoom-container"></span>').css('display', 'block').parent().zoom({
				url: zoomSrc,
				touch: false,
				magnify: 1
			});
		});
	});
</script>