
<h2>Teeanbauregion Darjeeling</h2>
<p>Die Teeanbauregion Darjeeling gehört zu einer der besten Teeanbauregionen weltweit. Kaum eine Anbauregion bringt so vielseitige und hervorragende Tees hervor wie Darjeeling. Daher ist es sicherlich keine Übertreibung Darjeeling als die Champagne unter den Teeanbaugebieten zu bezeichnen. Daher haben wir hier auch ein paar Informationen über Darjeeling zusammengestellt.</p>
<p>Darjeeling liegt an der Südseite des Himalaya Gebirges in einer Höhe zwischen 600 und 2000 Metern. Den Namen hat die Region wegen der indischen Stadt Darjiling bekommen, da sich die Teeplantagen rund um die Stadt verteilen. Seine hohe Bekanntheit hat Darjeeling durch die Engländer erhalten, die dazu beitrugen die Teepflanzen zu wahren Spitzengewächsen heran zu züchten. </p>
<p>Arthur Campbell (1805 bis 1874) war einer der Ersten, der erkannte, dass die Klimabedingungen in der Region hervorragend für den Anbaue von Tee sind. Also ließ er sich in Darjeeling nieder und pflanzte die ersten Teepflanzen in seinem Garten an. Die Samen der Teepflanze erhielt er aus China, wo er zu Forschungszwecken unterwegs war. Sein erfolg war groß und die Engländer beschlossen in der Region weitere Teeplantagen anzulegen. Schwarzer Tee aus Darjeeling sollte zum Bestseller werden.</p>
<p>Da die Einwohnerzahl in Darjeeling sehr gering war, wurden Arbeitskräfte aus Nepal angeworben, die sich zukünftig um die Teeplantagen kümmern sollten. Aus den etwa 30 Teegärten um 1860 wurde eine Vielzahl Plantagen bei der heute rund 70.000 Arbeiter(innen) beschäftigt sind, um den weltweiten Bedarf des leckeren Schwarztees zu befriedigen. </p>
<p>Die Ernte der Teeblätter wird in der Regel von Frauen übernommen. Die Pflückerinnen tragen auf ihren Rücken einen Korb, der Kiepe genannt wird, und Ernten die jungen Teeblätter per Hand. Ein Grund hierfür ist die Steillage der Teeplantagen in Darjeeling, die eine maschinelle Ernte erschweren. Manchmal sind die Hänge so steil, dass es einer Kletterpartie gleicht. Die Arbeit einer Teepflückerin ist daher auch als Schwerstarbeit zu betrachten und verdient einen hohen Respekt und eine anständige Belohnung. Daher gilt es zum einen die Ernte und Herstellung von Tee transparenter zu gestalten und zum anderen die Löhne durch "Billigtees" nicht noch weiter zu drücken. In der Regel ist es so, dass die Arbeiter auf einer Teeplantage besser verdienen, wenn sie qualitativ hochwertigen Tee herstellen, da sie hierfür auch besser geschult sein müssen. Also ein Grund mehr sich guten Tee aus Darjeeling zu kaufen. </p>
<p>Nach der Ernte werden die geernteten Teeblätter von Männern in folgenden Schritten weiterverarbeitet.</p>
<ol>
<li style="text-align: left;"><strong>Welken</strong><br />Die frischen Teeblätter werden in großen Weidenkörben oder auf Matten ausgebreitet und gut belüftet.<br />
<table>
<tbody>
<tr>
<td style="text-align: center;"><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/teeblaetter-welken_large.jpg?v=1504976241" alt="Teeblätter welken" /><br /><em>Welken von Teeblättern </em></td>
</tr>
</tbody>
</table>
</li>
<li style="text-align: left;"><strong>Rollen</strong><br />Anschließend werden die Teeblätter gerollt, um die Zellwände aufzubrechen und die enthaltenen ätherischen Öle freizusetzen. Dabei werden die Teeblätter in der Regel in einer Maschine zwischen zwei rotierende Scheiben gelegt. Das Rollen soll die Zellen aber nur so weit aufbrechen wie nötig und die Teeblätter nicht komplett zerstören. Je nach Teeanbauregion, Menge und Tradition werden die Teeblätter auch auf Matten mit der Hand gerollt.<br />
<table>
<tbody>
<tr>
<td style="text-align: center;"> <img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/maschine-zum-tee-rollen_large.jpg?v=1504975491" alt="Rollen von Teeblättern" style="display: block; margin-left: auto; margin-right: auto;" /><em>Rollen von Teeblättern</em></td>
</tr>
</tbody>
</table>
<em><br /></em></li>
<li> <strong>Oxidative Fermentation</strong><br />Bei einer Temperatur von etwa 30°C werden die Teeblätter oxidativ fermentiert d.h. die beim Rollen freigesetzten Enzyme führen zu einer Umwandlung verschiedener Stoffe aus den Teeblättern z.B. werden die enthaltenen Catechine wie das Epigallocatechin-3-gallat (EGCG) durch ein Enzym zu einer Kette aneinander geheftet (polymerisiert). Ein Produkt aus der Polimerisierung sind z.B. die <a href="https://de.wikipedia.org/wiki/Theaflavine" target="_blank" title="Theaflavine" rel="noopener noreferrer">Theaflavine</a>, welchen gesundheitsfördernde Wirkungen zugesprochen wird. Das ist aber nur eine von den Reaktionen die durch die freigesetzten Enzyme verrichtet werden, bis die Teeblätter schließlich ihr einzigartiges Aroma entfalten. Und wie bei einem Wein schmeckt der Tee daher immer etwas anders je nach Anbauregion, Klima und Verarbeitung. Um eine bemerkenswerte Darjeeling Schwarztee Qualität anbieten zu können, haben wir uns für einen hervorragenden Produzenten aus dem Anbaugebiet Monteviot entschieden.<br />
<table>
<tbody>
<tr>
<td>
<p style="text-align: center;"> <img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/schwarzer-tee-fermentation-2_large.jpg?v=1504975144" alt="Schwarztee Fermentation" width="255" height="352" /><br /><em>Schwarztee Fermentation</em></p>
</td>
<td style="text-align: center;">
<p><em><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/schwarzer-tee-fermentation_large.jpg?v=1504975166" alt="Oxidative Fermentation zum Schwarztee" width="197" height="350" /></em><br /><em>Schwarzer Tee Fermentation</em></p>
</td>
</tr>
</tbody>
</table>
</li>
<li><strong>Trocknen</strong><br />Im Anschluss werden die Teeblätter ca. 20 min bei 85°C getrocknet, um das Aroma und die Inhaltsstoffe zu konservieren. </li>
</ol>
<p>Zuletzt werden die Teeblätter nach ihrer Größe wie folgt getrennt:</p>
<ul>
<li>Loser Blatttee: das ganze Tee Blatt -&gt; loser Blatttee</li>
<li>Broken-Tee: <span>grobe Blattstückchen -&gt; loser Tee, Tee Mischungen</span></li>
<li>Fanning: <span>kleine Blattbestandteile -&gt; Aufgussbeuteltee</span></li>
<li>Dust: <span>Teestaub und sehr kleine Blattbestandteile -&gt; Aufgussbeuteltee</span></li>
</ul>
<h2> Der Tee aus Darjeeling</h2>
<p>Was macht den Tee aus Darjeeling so besonders? Die Anbauregion Darjeeling befindet sich in einer optimalen Klimazone mit einer durchschnittliche Luftfeuchtigkeit von ca. 83% und ausreichend Sonne. Wie beim Weinanbau sorgt die Hanglage für einen günstigeren Einfallswinkel der Sonnenstrahlen und die Teepflanzen erhalten mehr Energie. Weiterhin steigen die Temperaturen im Sommer fast nie über 20°C und nachts werden nur im Januar Temperaturen von knapp über Null Grad erreicht. <strong>Die Höhenlage und die gemäßigten Temperaturunterschiede zwischen Tag und Nacht sind dafür verantwortlich, dass die Pflanzen langsamer wachsen und so feinere Aromen ausbilden können. <br /></strong>Außerdem sind die regelmäßigen Niederschläge und eine hohe Luftfeuchtigkeit wichtig für die Wasserversorgung der Teepflanzen. All diese Faktoren machen den Schwarztee aus Darjeeling so besonders. Es ist sogar phänomenal was für Geschmacksnuancen manche Teesorten aus Darjeeling mit sich bringen. Und weil der Geschmack eines Darjeeling First Flush Schwarztees direkt nach der Ernte am intensivsten ist, wird dieser schnellst möglichst per Flugzeug eingeflogen. Der sogenannte "Flugtee" ist bei Teeliebhabern daher besonders beliebt und auch schnell ausverkauft. </p>
<h2>Darjeeling First Flush Schwarztee</h2>
<p>Besonders feine Aroma bringt ein First Flush hervor. Mit "Flush" ist der junge Trieb der Teepflanze gemeint und  daher handelt es sich bei einem First Flush um einen Tee aus der ersten Ernte. Die erste Teeernte des Jahres findet in Darjeeling zwischen Ende Februar und Ende April statt. Diese besonders filigranen Tees sind im Aufguss meist heller als ein Second-Flush-Tee, der zwischen Juni und Juli geerntet wird. </p>
<p>Wie kann man den Geschmack eines Darjeeling First Flush Schwarztees am besten beschreiben? Teekenner beschreiben das Aroma häufig mit einer Blumenwiese und einem Stück Frühling in der Tasse. Grund für das feine und äußerst köstliche Aroma ist, dass die Teepflanze bei der ersten Ernte noch nicht so kräftig ist, wie im Sommer, wenn es wärmer ist. Da das Aroma direkt nach der Ernte und Verarbeitung am Besten ist, wird der Tee als Flugtee eingeflogen und von Teeliebhabern sehr geschätzt. Wer einen Darjeeling First Flush Flugtee kaufen möchte, sollte sich daher am besten schon Ende März bei uns melden und die gewünschte Menge vorbestellen. Die Lieferung erfolgt dann, sobald der Flugtee bei uns eintrifft.</p>
<h2>FTGFOP1</h2>
<p>Immer häufiger hört man den Begriff FTGFOP1 oder FTGFOP1 First Flush, aber was heißt eigentlich der Begriff? Wie bei Wein gibt es auch bei Tee unterschiedliche Qualitätsstufen. So lässt sich zum Beispiel ein Broken mit einem Landwein vergleichen. Die höchste Qualitätsstufe bei Tee ist bei FTGFOP1 erreicht, was in etwa mit einem Wein aus Frankreich der Klasse Grand Cru vergleichbar ist.</p>
<p>Was bedeutet diese Abkürzung FTGFOP1? Es ist nicht nicht die Reife der Zeitpunkt der Lese oder die Reife der Teeblätter gemeint, sondern vielmehr welche Teile der Pflanze geerntet und wie diese verarbeitet werden. Die Kriterien für einen FTGFOP1 im Einzelnen:</p>
<p><b>FT</b><span> steht für Finest Tippy: Nur die feinsten Blattspitze wurden gepflückt.<br /><br /><b>G</b> steht für Golden: Die Blattspitzen sind besonders hell und noch nicht so stark fermentiert.<br /></span></p>
<p><span><b>F</b> steht für Flowery: Der Tee ist besonders blumig.</span></p>
<p><span><b>O</b> steht für Orange: Damit ist nicht die Farbe, sondern ursprünglich das niederländische Königshaus der Oranier gemeint. Es stand für einen königlichen Tee, der problemlos am Herrscherhaus serviert werden konnte. Heute ist mit Orange Pekoe die Blattgröße gemeint.</span></p>
<p><span><b>Pekoe:</b> Der Begriff kommt aus dem chinesischen und leitet sich von dem Begriff Pak-Ho ab und steht für die feinen Haare eines Babys. Der Begriff wurde gewählt, weil auch die jungen Knospen des Teestrauchs mit einem Flaum überzogen sind. Heute hat dieser Begriff aber seine Bedeutung verloren, vielmehr sind die Blätter dann gröber und der Tee kräftiger. <br /><br />Die Zahl <strong>1</strong> am Ende bezeichnet die höchste Qualitätsstufe. </span></p>
<p>Aber ganz so einfach ist es dann doch nicht, denn FTGFOP1 ist zwar die höchste Qualitätsstufe von Tee, aber der Geschmack kann je nach Plantage sehr stark unterscheiden. Daher ist uns nicht nur die Blattgradierung FTGFOP1 wichtig, sondern auch ein unvergesslicher Teegeschmack. </p>
<h2>Teeplantage Monteviot</h2>
<p>Wie bei Wein gibt es auch bei Teeplantage bei denen schwarzer Tee produziert wird große Unterschiede. Bei der Teeplantage Monteviot handelt es sich um eine herausragende Adresse, auf der besonders guter und leckerer Schwarzer Tee produziert wird. Die Teeplantahe liegt im <span>Kurseong Valley mit Teegärten in einer Höhe von bis zu 1700 Metern. Die Höhenlage und das Know-how sorgen für die hervorragende Qualität des Darjeeling First Flush Schwarztees. Der Flugtee wird von Teekennern aus aller Welt seht geschätzt. Weiterhin stammt der Tee aus kontrolliertem Anbau und unterliegt festgelegten Anbaukriterien. </span></p>
<p style="text-align: center;"><span><em><img class="lazy2 lazy3" alt="Darjeeling First Flush" src="https://cdn.shopify.com/s/files/1/0821/7481/products/darjeeling-first-flush-ftgfop1-schwarztee_large.JPG?v=1488994566" style="display: block; margin-left: auto; margin-right: auto; float: none;" />Darjeeling First Flush Schwarztee</em></span></p>
<p> </p>

