<h2>Guayusa oder Guyasa?! Das koffeinhaltige Teegetränk aus Ecuador erobert die Genusswelt</h2>
  <p><u>Inhaltsverzeichnis</u></p>
<p><a href="#eins">1. Was ist Guayusa?</a></p>
<p><a href="#einseins">1.1 Was macht Guayusa Tee eigentlich so besonders?</a></p>
<p><a href="#zwei">2. Wie wird Guayusa Tee zubereitet?</a></p>
<p><a href="#zweieins">2.1 Wie lang sollte man Guayusa Tee ziehen lassen?</a></p>
<p><a href="#drei">3. Guayusa Tee kaufen - Worauf sollte man achten beim Guayusa bestellen?</a></p>
<p><a href="#vier">4. Herkunft und Anbaumethode der Guayusa-Pflanze</a></p>
<p><a href="#funf">5. Guayusa als Superfood</a></p>
<p><a href="#sechs">6. Guayusa Koffeinkick - Wie wirkt er im Vergleich zu Mate und Kaffee?</a></p>
<p><a href="#sieben">7. Guayusa als Kaltaufguss oder Cold Brew</a></p>

<p> </p>
<h2 id="eins">1. Was ist Guayusa?</h2>
<p>Guayusa ist das koffeinhaltige Nationalgetränk der Kichwa Ureinwohner aus Ecuador. Schon der Name fasziniert: <em>Ilex Guayusa</em> (englisch gesprochen Gwhy-You-Sa). Diese Pflanzenart gehört zur Gattung der Stechpalmen. Bereits seit Jahrhunderten verwendet man die Blätter des bis zu dreißig Meter hohen Guayusa-Baumes, um einen Aufguss des Grüntees herzustellen. Das Wort <em>Guyasa</em> wird häufig falsch verwendet. Ein echter Tee-Connoisseur kennt die korrekte Schreibweise: <em>Guayusa</em></p>
<h3 id="einseins">1.1 Was macht Guayusa Tee eigentlich so besonders?</h3>
<p>Die Guayusa-Pflanze wird immer bekannter, weil die Nachfrage nach <strong>Wellnesstees</strong> wächst. Viele Teehändler schätzen die Wirkung der Guayusa-Pflanze. Es wird nicht nur als Koffeingetränk gehandelt. Es gibt zahlreiche Erfahrungsberichte über <strong>luzide Träume</strong> nach dem Verzehr. Ein echter Tee-Hype also! Die Anbauart und die Verwendung in Teeritualen ist einzigartig. Der Teeaufguss der Guayusa Blätter schmeckt <strong>fein-herb</strong> bis <strong>leicht würzig</strong> mit einer <strong>sanften Süße</strong>. Man kann den Guayusa sowohl warm als auch kalt genießen.</p>
<h2 id="zwei">2. Wie wird Guayusa Tee zubereitet?</h2>
<p>Die vielseitige Teepflanze brüht man zu verschiedenen Tageszeiten auf: morgens nach dem Aufstehen oder zwischendurch. Aufgrund des Koffeingehalts ist das Heißgetränk weniger am Abend zu empfehlen. Für den Aufguss verwendet man zwei Esslöffel der losen Guayusa-Blätter pro 1 Liter Tee. Die <strong>Ureinwohner Kichwa</strong> trinken die Blätter der Guayusa-Pflanze (<em>Ilex Guayusa</em>) am liebsten als belebendes Aufgussgetränk. Die Blätter bleiben nach dem Servieren länger in der Kanne.</p>
<h3 id="zweieins">2.1 Wie lang sollte man Guayusa Tee ziehen lassen?</h3>
<p>Im Vergleich zu anderen Teesorten darf der Guayusa länger ziehen. Er wird nicht bitter im Geschmack. Ab fünf Minuten ist er bereits trinkfertig. Für einen Kaltaufguss müsst Ihr allerdings einige Stunden warten. Folgt gerne unserer <strong>Zubereitungsempfehlung: </strong></p>
<ul>
<li>2 EL Tee pro 1 Liter</li>
<li>5-10 Minuten bei 100°C</li>
</ul>
<h2 id="drei">3. Guayusa Tee kaufen - Worauf sollte man achten beim Guayusa bestellen?</h2>
<p>Guayusa-Tee gibt es in verschiedenen Formen zu kaufen: als lose und fein geschnittene Blätter, in Teebeuteln, als Pulver und inzwischen als Teepads. Wir bieten unseren Guayusa Tee ausschließlich lose und fein geschnitten an - völlig ohne Zusatz von Aromen. Wir schätzen den traditionellen und vollkommenen Genuss!</p>
<p>Beim Kauf von Guayusa solltet Ihr darauf achten, das unverfälschte Produkt in loser Form zu kaufen. Aromatisierte Teemischungen enthalten oftmals nur geringe Mengen Guayusa und werden mit aromatisierten Fruchtgetränken angereichert. Wenn Ihr den Guayusa kaufen oder bestellen wollt, denkt daran: <strong>Es heißt Guayusa und nicht Guyasa Tee. </strong></p>
<h2 id="vier">4. Herkunft und Anbaumethode der Guayusa-Pflanze</h2>
<p>Die jahrhundertealte Geschichte der Teepflanze war uns einen <strong>Guayusa</strong> <strong>Blog</strong> wert. Die Guayusa-Blätter werden seit Jahrhunderten verzehrt. Die Teepflanze findet ihren Ursprung in Ecuador, Peru, Bolivien und Kolumbien. Die indigenen Völker des Amazonas kultivieren die Guayusa-Pflanze bis heute.</p>
<p>Forscher fanden bereits 1.500 Jahre alte Zweige der Teepflanze im Grab eines Medizinmannes. Er nahm sie möglicherweise für die Nachwelt mit ins Grab. Die Pflanze verwendet man vor Jahrhunderten als schmerzstillendes Mittel. Als Getränk wurde es zur Reinigung und Stärkung vor Ritualen getrunken. Es ist bekannt, dass man es bei Bauch-, Leber- und Menstruationsschmerzen einsetzte.</p>
<p>Heute baut man Guayusa traditionell in den Waldgärten, sogenannten <strong>“Chacras” im Amazonasregenwald</strong> an. Kichwa Familien kultivieren die Mehrheit der Guayusa-Bäume. Von Generation zu Generation vererbt man die Bäume.</p>
<p>Als Monokultur ist Guayusa nicht geeignet. Dies hat viele Gründe z.B. verträgt die Teepflanze in den ersten drei Jahren keine Sonneneinwirkung. Ein Einsatz von Pflanzenschutzmitteln wie Insektiziden und Dünger ist nicht nötig. Neben Guayusa baut man Kakao, Mais, Maniok und Bananen in besonderen Permakulturen an. Die Anbaumethode entspricht in keiner Weise einer industriellen europäischen Produktion. Sie ist im Amazonaswald besonders schonend und achtsam.</p>
<table width="624">
<tbody>
<tr>
<td width="624">
<p><strong>Schon gewusst?</strong></p>
<p>Die Guayusa-Pflanze gehört zu den <strong>Stechpalmengewächsen</strong>. Die Gattung <em>Ilex</em> ist weltweit zu finden und in Teilen sogar giftig. In der optischen Erscheinung variieren die Blätter von hart und stachelig bis weich und länglich. Besondere Arten der Stechpalme haben eine sehr positive Wirkung. Hierzu gehören Mate und Guayusa.</p>
</td>
</tr>
</tbody>
</table>
<h2 id="funf">5. Guayusa als Superfood</h2>
<p>Indigene Völker nutzen die Guayusa-Pflanze für besondere Rituale und als tägliches Aufgussgetränk. Welchen Stellenwert hat Guayusa bei uns? Spätestens als man Mate-Tee in sämtlichen Supermarktketten gelistet hat, war der Weg für <strong>Guayusa als Szene- &amp; Wellnessgetränk</strong> geebnet.  </p>
<p>Neben Koffein enthalten Guayusa-Blätter von Natur aus <em>L-Theanin, Theobromin, Phenole und Flavonoide. </em>L-Theanin ist eine Aminosäure, die in den Blättern von Grüntee und Schwarztee enthalten ist. Dem L-Theanin wird eine entspannende und beruhigende Wirkung zugeschrieben.<sup> </sup>Gleichzeitig besitzt Guayusa einen doppelt so hohen Gehalt an Antioxidantien im Vergleich zu anderen Grünteesorten.</p>
<p>Immer mehr Menschen wünschen sich natürliche <strong>Energygetränke ohne Zuckerzusatz</strong>. Guayusa ist die ideale Antwort. Der Tee enthält ca. 2 Prozent Koffein. Trinken wir es wie die Kichwa Ureinwohner: morgens zum Wachwerden und tagsüber als Begleiter beim Sport oder der Arbeit. Der Tee soll zu einer erhöhten Konzentrationsfähigkeit und Wachheit beitragen und sogar Klarträume anstoßen. Wer möchte das neue Szenegetränk aus Südamerika nicht gerne ausprobieren?</p>
<h2 id="sechs">6. Guayusa Koffeinkick - Wie wirkt er im Vergleich zu Mate und Kaffee?</h2>
<p>Geschmacklich ist der Guayusa mit Mate-Tee vergleichbar. Mate-Tee ist teilweise etwas bitterer.</p>
<p>Der Guayusa überzeugt mit fruchtiger Nuance und leichter Herbe. Das Besondere an der Guayusa-Pflanze ist, dass sie viele positiven Inhaltsstoffe von Kakao, Kaffee und grünem Tee vereint. Die Koffeinwirkung ist gefühlt anders als bei Kaffee; vergleichbar mit Mate nur länger.</p>
<h2 id="sieben">7. Guayusa als Kaltaufguss oder Cold Brew</h2>
<p>Im Sommer ist Guayusa ein erfrischendes Getränk, welches geschmacklich sehr stark an Eistee erinnert. Wer den <strong>kalten Energydrink</strong> probiert, sollte allerdings etwas Geduld mitbringen, denn die Ziehzeit beträgt mindestens sechs Stunden.</p>
<p>Hier gibt es unsere <strong>Zubereitungsempfehlung:</strong></p>
<ol>
<li>Gebt 4-5 gehäufte Teelöffel des losen Guayusa Tees in eine große Teekanne oder in ein Glasbehältnis. Der Tee muss anschließend mit kaltem Wasser aufgegossen werden. Auf Wunsch kann man noch eine halbe Bio-Orange ergänzen für eine besonders fruchtige Note!</li>
<li>Stellt den Cold Brew Ansatz in den Kühlschrank und lasst ihn hier mehrere Stunden ziehen:</li>
<ol>
<p>- 4 Stunden für eine goldene Farbe<em> (milder Cold Brew)</em></p>
<p>- 8 Stunden für einen intensiveren Geschmack und eine satte Farbe!</p>
<p>- 24 Stunden für einen Black-Guayusa <em>(besonders intensiver Geschmack &amp; schwarze Farbe)</em></p>
</ol>
<li>Verwendet ein Teesieb, um den Guayusa Tee zu filtern. Das Ergebnis ist ein <strong>hervorragender Cold Brew Guayusa</strong>, der herrlich erfrischend und herb schmeckt.</li>
</ol>
<p> </p>
<p>Quellen:</p>
<p><span><a href="https://de.wikipedia.org/wiki/Ilex_guayusa">https://de.wikipedia.org/wiki/Ilex_guayusa</a></span></p>