<h2>Ginger meets Lemongrass Zubereitungsbeispiele</h2>
<p style="text-align: center;"><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/ginger-meets-lemongrass-sophiebuh79_1024x1024.jpg?v=1507483579" alt="Ginger meets Lemongrass von, Foto: sophiebuh79" style="display: block; margin-left: auto; margin-right: auto;" />Ginger meets Lemongrass Zubereitungsbeispiel, Foto: <a href="https://www.instagram.com/sophiebuh79/" target="_blank" title="sophiebuh79" rel="noopener noreferrer">sophiebuh79<br /></a>Vielen Dank für das tolle Foto @sophiebuh79 !</p>
<h2>Ayurveda-Tee</h2>
<p>Ayurveda ist eine traditionelle indische Heilkunst, die heute vielerorts bekannt ist. Im Asiatischen Raum wird Ayurveda auch zu Heilzwecken verwendet, in der westlichen Kultur wird Ayurveda eher für Wellness-Anwendungen verwendet. Die zentralen Bestandteile von Ayurveda sind:</p>
<ul>
<li>die ayurvedische Ernährungslehre</li>
<li>Pflanzenheilkunde</li>
<li>Yoga</li>
<li>Ayurveda-Massage und Reinigungstechniken</li>
</ul>
<p>Außerdem gelten beim Ayurveda die drei Prinzipien des Lebens (Doshas). Die drei Lebensenergien werden aufgeteilt in:</p>
<ul>
<li>Vata (Wind, Luft und Äther), das Bewegungsprinzip</li>
<li>Pitta (Feuer und Wasser), das Feuer- bzw. Stoffwechselprinzip</li>
<li>Kapha (Erde und Wasser), das Strukturprinzip</li>
</ul>
<p>Nach der ayurvedischen Auslegung besteht eine Einheit von Körper, Verstand, Sinnen und Seele. Und so gibt es eine Vielzahl an unterschiedlichen Anwendungen, spirituellen Techniken und auch Ernährungselemente.</p>
<p>Mit Ginger meets Lemongrass bieten wir eine sehr harmonische Kräutertee-Mischung, die auf der ayurvedischen Lehre beruht. Der Tee enthält <span>Zitronengras, Süßholzwurzeln, Ingwerstücke (25%), Pfefferminze, Zitronenschalen und schwarze Pfefferkörner. </span></p>
<p> </p>
<p style="text-align: center;"><strong><em>An dieser Stelle möchten wir aber auch darauf hinweisen, dass es sich nicht um einen Heiltee handelt und bei Beschwerden ein Arzt aufzusuchen ist. Die hier geschilderten gesundheitsfördernden Eigenschaften verschiedener Pflanzenbestandteile und der ayurvedischen Lehre sind allgemeiner Natur und nicht speziell auf ein von uns angebotenes Produkt bezogen. </em></strong></p>
<h2>Frischer Ingwertee</h2>
<p>Ingwer (engl. Ginger) gehört zur Familie der Ingwergewächse und der <span>unterirdische Hauptspross</span> der Ingwer Pflanze kann als Gewürz benutzt werden. Die Ingwerwurzel schmeckt scharf und würzig und riecht sehr aromatisch. Zu den Inhaltsstoffen des Ingwers gehören unter anderem ätherische Öle, Harzsäuren und das für die Schärfe verantwortliche Gingerole. Es wird vermutet, dass die Gingerole z.B. Shogaole eine Entzüpndungehemmende (anti-inflammatorisch) Wirkung vermitteln, indem sie das Interleukin und Cytokinmuster verändern. Weiterhin wird dem Gingerol eine antitumor-Wirkung zugesagt und eine hemmende Wirkung auf die Cyclooxigenase (COX-2) Synthese. Cyclooxigenase 2 wird bei Enzündungsprozessen vermehrt synthetisiert <sup>1</sup>.</p>
<p>Wegen des aromatischen Geschmacks und weiteren Wirkungen die durch Ingwer hervorgerufen werden können, sollte Ingwer Bestandteil vieler Speisen sein z.B. einfach ein kleines Stück Ingwer mit in den Smoothie oder in die Kurbis- oder Kartoffelsuppe geben. Der Fantasie sind hier keine Grenzen gesetzt.</p>
<p style="text-align: center;"><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/ingwer_large.jpg?v=1507482209" alt="Ingwer" style="display: block; margin-left: auto; margin-right: auto;" /><em>Die Ingwerwurzel</em></p>
<p>Auch ein frischer Ingwertee schmeckt sehr lecker und kann heiß mit Honig oder auch einfach kalt getrunken werden. Hiezu ca. 1 cm der des Ingwers abschälen. Am besten geht das übrigens, wenn man die Schale mit einem Teelöffel abkratzt, dann werden auch weniger Inhaltsstoffe entfernt als beim  Schneiden. Die Ingwerwurzel fein zerhacken und mit heißem Wasser übergießen und 10 Minuten ziehen lassen. Alternativ kann man auch eine Ingwerreibe verwenden.</p>
<p>Wer etwas mehr Geschmack in seinem Tee braucht oder keine Lust hat, sich den Ginger für den Tee vorzubereiten, findet mit dem Ayurveda-Tee Ginger meets Lemongrass eine geschmacklich beeindruckende Alternative.</p>
<p style="text-align: center;"><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/ingwertee_large.jpg?v=1507486879" alt="Ingwertee" style="display: block; margin-left: auto; margin-right: auto;" /><em>Ingwertee</em></p>
<p>  </p>
<p><strong>Quellennachweise:</strong></p>
<p> <br />1. <span>Mashhadi, N. S., Ghiasvand, R., Askari, G., Hariri, M., Darvishi, L., &amp; Mofid, M. R. (2013). Anti-Oxidative and Anti-Inflammatory Effects of Ginger in Health and Physical Activity: Review of Current Evidence. </span><i>International Journal of Preventive Medicine</i><span>, </span><i>4</i><span>(Suppl 1), S36–S42.</span></p>
