<h2>Gyokuro Tee ist der japanische Luxustee!</h2>
<p><strong>Inhalt </strong></p>
<ol>
<li><a href="#eins">Gyokuro Tee: Was macht ihn so besonders?</a></li>
<li><a href="#zwei">Der Geruch und Geschmack des Gyokuro</a></li>
<li><a href="#drei">Gyokuro-Zubereitung</a></li>
<ol>
<li><a href="#dreieins">Wie lange sollte man den Gyokuro Grüntee ziehen lassen?</a></li>
<li><a href="#dreizwei">Die Kyūsu ist das perfekte Gyokuro Zubehör</a></li>
</ol>
<li><a href="#vier">Gyokuro kaufen: Worauf sollte man achten?</a></li>
<ol>
<li><a href="#viereins">Bio-Japan Gyokuro</a></li>
</ol>
<li><a href="#funf">Gyokuro Anbaumethode und Anbaugebiete</a></li>
<li><a href="#sechs">Gyokuro Zubereitung mit der Cold Brew Methode “Shinobi Cha”</a></li>
<li><a href="#sieben">Fazit Gyokuro</a></li>
</ol>
<p> </p>
<h2 id="eins">Gyokuro Tee: Was macht ihn so besonders?</h2>
Der Gyokuro zählt zu den edelsten japanischen Grüntees. Selbst in Japan gilt er als Luxus. Gyokuro heißt übersetzt wohl genau deshalb „edler Tautropfen“ oder “Juwel-Tau”. Sein Geschmack bietet ein herrlich süßliches Aroma mit Umami-Note. Der Gyokuro Tee zählt zu den schattierten Grüntees aus Japan. Nur sehr wenige Teebauern kultivieren diese Teesorte. Er unterscheidet sich vom <a href="https://tea-club.de/products/japan-sencha-gruener-tee" title="Japan Sencha">Sencha</a> (ein klassischer schattenlosen Grüntee) dadurch, dass er im Schatten und nicht in der der vollen Sonne wächst bzw. ein paar Wochen vor der Ernte beschattet wird. Er wird sogar länger schattiert als ein <a href="https://tea-club.de/products/kabuse-sencha-shinryoku" title="Kabusecha">Kabusecha</a>. Wir finden, dieser <strong>japanische Grüntee</strong> sollte gebührend im Rahmen einer <strong>Teezeremonie</strong> zu Hause zubereitet werden! ツ <br /><br />
<h2 id="zwei"><span>Der Geruch und Geschmack des Gyokuros</span></h2>
<p>Achtet beim Genuss auf den reichhaltigen und weichen Duft des Gyokuros. Die Struktur eines Gyokuros ist weicher und vollmundiger im Vergleich zum Sencha. Bei den diversen Aufgüssen werdet Ihr verschiedene feine Noten erschmecken. Bei manchen Gyokuros ist seine blassgrüne Farbe ist ein echtes Qualitätsmerkmal z.B. beim <a href="https://tea-club.de/products/gyokuro-amaterasu" title="Gyokuro Amaterasu">Gyokuro Amaterasu</a>.</p>
<p>Bei richtiger Zubereitung des Japan Gyokuro kommt Ihr in den Genuss des unvergleichlichen Geschmacks: viel Süße und eine leicht spinatige Note im Abgang.</p>
<h2 id="drei">Gyokuro-Zubereitung</h2>
<p>Einen perfekten Gyokuro zuzubereiten, ist unglaublich schwierig! Es erfordert viel Kenntnis und Erfahrung in der Zubereitung, um den Genuss zu perfektionieren. Im Vergleich zu anderen Teesorten wird der Gyokuro bei einer niedrigeren Wassertemperatur aufgebrüht.</p>
<p>Warum…? Dieser japanische Grüntee ist sehr empfindlich. Bei zu heißem Wasser verliert er seinen sanften und hoch aromatischen Geschmack, da er sehr temperaturempfindlich ist. Das Teewasser sollte man auf nur 50° bis 60° erhitzen. Einige Teemeister senken es sogar auf 45°C oder 35°C. </p>
<p>Wenn der Gyokuro bitter schmeckt, wurde er zu heiß aufgebrüht.<b> Langsames Aufbrühen für idealen Genuss. </b>Wenn eine süßliche Note hervortritt, wisst Ihr, dass er genauso richtig ist. Falls nicht, wart Ihr einfach etwas zu schnell.</p>
<p><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/japan-gyokuro-gruener-tee-xs_2c63f9c4-b8f1-453c-81db-42b845adb6ea_480x480.jpg?v=1627057882" width="252" height="400" alt="Japan Gyokuro Zubereitung" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p> </p>
<h3 id="dreieins">Wie lange sollte man den Gyokuro Grüntee ziehen lassen?</h3>
<p>Die Ziehdauer ist beim ersten Aufguss mit 2 Minuten besonders kurz. Der Geschmack kommt besonders zur Geltung, wenn man weiches Wasser verwendet.</p>
<p>Beim zweiten bis vierten Aufguss empfiehlt sich eine <b>Ziehzeit von nur 20 bis 30 Sekunden</b>. Insgesamt sind bis zu acht Aufgüsse möglich, sofern die Blätter noch feucht sind.</p>
<p>Man braucht bei der Zubereitung viel Geduld. Entschleunigt Euch und genießt die verschiedenen Aufgüsse. Bevor Ihr den Tee genießt, gebt ihm etwas Zeit, damit er sich entfalten kann. Er sollte nicht direkt nach dem Aufbrühen verzehrt werden.</p>
<h3 id="dreizwei">Die Kyūsu ist das perfekte Gyokuro Zubehör</h3>
<p>Wie man seinen Japan Gyokuro zubereitet, ist völlig unerheblich, solange er korrekt zubereitet wird. Viele von uns verwenden hierfür eine klassische Teekanne.</p>
<p>Wer den Gyokuro traditionell und authentisch-japanisch zubereiten möchte, sollte eine Kyūsu - eine <a href="https://tea-club.de/collections/japanische-teekannen" title="Japanische Teekannen Kyusu">japanische Teekanne</a> - verwenden. Sie wird aus einem hochwertigen Ton hergestellt und eignet sich perfekt für Eure japanische Teezeremonie am Nachmittag!</p>
<p>Eine Kyūsu eignet sich für<b> Mehrfach-Aufgüsse</b> und ist mit einem Fassungsvermögen von 270 ml oder 350 ml ideal für ein bzw. zwei Person geeignet. Wollt ihr zu eurer Teezeremonie noch einen erstklassigen Matcha servieren, empfehlen wir den First Flush <a href="https://tea-club.de/products/ceremonial-matcha" title="Ceremonial Matcha">Ceremonial Matcha</a>.</p>
<p> </p>
<p><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/TeaClub_Gyokuro_2_600x600.jpg?v=1626695076" width="600" height="600" alt="Gyokuro Matcha" style="display: block; margin-left: auto; margin-right: auto;"/></p>
<p> </p>
<h2 id="vier">Gyokuro kaufen: Worauf sollte man achten?</h2>
<p>Der Gyokuro ist ein teurer Tee und gilt selbst in Japan als Luxus. Einen wirklich preiswerten und guten Gyokuro wird man nur schwer finden. Achtet beim Kauf auf die <b>Optik der einzelnen Teeblätter</b>. Seine Blätter sind wunderschön, manche sogar glänzend.</p>
<p>Ein <b>intensiver Geruch </b>ist ebenfalls ein gutes und wichtiges Qualitätskriterium. Aufgrund der mehrwöchigen Vollbeschattung enthält der Tee einen besonders hohen <b>Chlorophyll-Anteil</b>. Ein guter Gyokuro besitzt im trockenen Zustand eine satte dunkelgrüne Farbe. Einen Gyokuro sollte man ausschließlich lose und in getrockneter Form erwerben.</p>
<p>Die Bewertungen anderer Kunden z.B. auf Amazon geben einen Überblick über Haptik, Geschmack und Blattqualität. Der Edeltee ist ausschließlich unter diesem Namen erhältlich. Achtet außerdem darauf, dass der Tee aus Japan stammt.</p>
<p>Er wird inzwischen in China angebaut, unterscheidet sich aber geschmacklich und preislich von der japanischen Art! Gyokuro zählt zu den teuersten Grünteesorten der Welt und ist von 20 EUR bis 200 EUR pro 100 Gramm erhältlich. Wir beraten Euch gerne!</p>
<h3 id="viereins">Bio-Japan Gyokuro </h3>
<p>Wir verzichten aktuell auf das “Bio” Label und daher können wir einen Tee nicht als Bio anbieten, auch wenn dieser in Bio-Qualität hergestellt würde. Aber wir stehen im engen Austausch mit den Importeuren und Tee-Bauern und legen hohen Wert auf einen nachhaltigen und kontrollierten Tee Anbau.</p>
<h2 id="funf">Gyokuro Anbaumethode und Anbaugebiete</h2>
<p>Der Gyokuro ist ein <b>Schattentee</b>. Die Teeblätter werden besonders lange und komplett beschattet. Der 21-tägige Vollschatten sorgt dafür, dass sich die Bitterstoffe im Tee reduzieren. Im Vergleich zu anderen Grüntees sprechen wir hier von einem besonders aufwändigen Herstellungsverfahren. Das macht den Geschmack des Gyokuros derartig einzigartig.</p>
<p>Zu den Anbaugebieten zählen Kirishima und Kagoshima aus Kyūshū. Aber auch in Uji und Shizuoka wird guter Grüntee angebaut. Kurz vor der Ernte werden die Teepflanzen mit Netzen bzw. Matten aus Bambus oder Schilf abgedeckt. Dadurch werden vermehrte Gerb- und Bitterstoffe verhindert. Nur einmal im Jahr werden die Teepflanzen geerntet. Die Pflanzen können also das ganze Jahr regenerieren. Danach folgt eine spezielle Selektion der Ernte: Nur die feinsten und zarten Blätter werden für seine Herstellung verwendet.</p>
<h2 id="sechs">Gyokuro Zubereitung mit der Cold Brew Methode “Shinobi Cha”</h2>
<p>An heißen Tagen könnt Ihr den Gyokuro sehr gut als Kaltaufguss (Mizudashi) genießen. Er zählt zu den wenigen Grünteesorten, die man sehr gut mit der speziellen Ice Brew Methode (Shinobi-Cha) aus Japan zubereiten kann. Die besonders schonende Cold Crew Methode passt perfekt zum Gyokuro!</p>
<p>Wie Ihr bereits erfahren habt, ist der Gyokuro sehr sensibel und fein, weshalb er seine Aromen besonders gut an schmelzende Eiswürfeln abgibt.</p>
<p>Man gibt hierfür z.B. in eine Kyūsu 3 Gramm des losen Tees (entspricht einem Teelöffel) und ergänzt vier Eiswürfeln. Es dauert bis zu 2 Stunden, bis man den Cold Brew Tee trinken kann. Alternativ kann man den Grüntee auch mit kaltem Wasser übergießen und ca. 10-20 Minuten ziehen lassen. Danach mit 2-3 Eiswürfeln servieren.</p>
<p><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/gruener-tee-kaltaufguss_976de52f-4c86-4b10-bdea-8b54db4bf66c_480x480.jpg?v=1627058237" width="480" height="480" alt="Grüner Tee Kaltaufguss" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<h2 id="sieben">Fazit Gyokuro</h2>
<p>Wer Grüntee liebt, sollte definitiv in den Genuss eines edlen Gyokuros kommen. Der Gyokuro ist ein Tee für echte Puristen und Tee-Connoisseure. Man könnte behaupten dieser Edeltee zählt in der Zubereitung zur Königsdisziplin. Auch im Geschmack zeigt der <strong>Japan Gyokuro ein ungewöhnlich komplexes Geschmacksmuster</strong> - ein wahrer Hochgenuss also für Sensoriker. Die Zubereitung ist sehr aufwändig und man braucht viel Erfahrung und Kenntnis, um den Gyokuro zu perfektionen, aber... </p>
<blockquote>
<p><em>"Es ist noch kein Teemeister vom Himmel gefallen."</em></p>
<p> </p>
</blockquote>
<br />
<p><strong>Quellen: </strong></p>
<p><a href="https://www.lebensmittellexikon.de/g0001480.php" target="_blank" title="Lexikon Gyokuro Tee" rel="noopener noreferrer">https://www.lebensmittellexikon.de/ g0001480.php</a></p>
<p><a href="https://de.wikipedia.org/wiki/Gyokuro" target="_blank" title="Wikipedia Gyokuro" rel="noopener noreferrer">https://de.wikipedia.org/wiki/ Gyokuro</a></p>