<h2>Kirishima Kabusecha – Ein fruchtig frischer Halbschatten-Grüntee aus Japan</h2>
<p><br /><strong>Inhalt</strong></p>
<ol>
<li><a href="#eins">Was ist Kirishima Kabusecha Tee?</a></li>
<li><a href="#zwei">Was ist ein Grüntee?</a></li>
<li><a href="#drei">Wie schmeckt ein Kabusecha?</a></li>
<li><a href="#vier">Wie wird der Kabusecha zubereitet?</a></li>
<li><a href="#funf">Wie wird ein Kabusecha hergestellt?</a></li>
</ol>
<h2 id="eins">1. Was ist Kirishima Kabusecha Tee?</h2>
<p>Kirishima Kabusecha ist ein vollmundig süßer Grüntee aus der japanischen Region Kirishima. Den zweiten Teil seines Namens hat der Tee seiner Art des Anbaus zu verdanken, denn Kabusecha bezeichnet einen sogenannten Halbschatten-Tee. Dank der Beschattung des Tees entwickelt dieser eine herrliche Süße, welche besonders Tee-Einsteigern einen guten Start in die Welt der hochwertigen Grünen Tees ermöglicht und von Teekennern sehr geschätzt wird.</p>
<h2 id="zwei">2. Was ist ein Grüntee?</h2>
<p>Wie alle Teesorten stammt auch der Grüntee von der Pflanze <i>Camellia Sinensis</i>. Grüner Tee ist nicht fermentiert und lässt von allen Teesorten noch am ehesten die Form und Farbe des ursprünglichen Pflanzenblattes erkennen. Japanischer Grüntee wird von Teekennern aus aller Welt wegen seines frischen Geschmacks geschätzt.</p>
<h2 id="drei">3. Wie schmeckt ein Kabusecha?</h2>
<p>Der Geschmack des Kirishima Kabusechas ist von einer fruchtigen Süße geprägt, die sich im Anschluss einer vollmundigen Umami Note entfaltet. Persönlich würde ich den Geschmack als angenehm fruchtig und facettenreich beschreiben.</p>
<h2 id="vier">4. Wie wird ein Kabusecha zubereitet?</h2>
<p>Unser Kirishima Kabusecha lässt sich mehrmals aufgießen und entfaltet seinen herrlichen Geschmack in bis zu 4 Aufgüssen. Für die Grüntee Zubereitung empfehlen wir eine Japanische Einhand-Teekanne (Kyusu).<br /><br />Mit 1-2 TL Kirishima Kabusecha pro 200ml Wasser oder 4-5 TL pro 1 Liter wird jeder Aufguss des japanischen Grüntees ein Genuss.<br />Der 1. Aufguss kann bei einer Wassertemperatur zwischen 60-65°C zubereitet werden und idealerweise 60 Sekunden ziehen.<br />Für den 2. bis 4. Aufguss empfiehlt sich eine Wassertemperatur von 60°C bei einer Ziehzeit von 20-30 Sekunden, um den japanischen Halbschattentee aus Kirishima seinen charakteristischen Geschmack zu entlocken.</p>
<h2 id="funf">5. Wie wird ein Kabusecha hergestellt?</h2>
<p>Als waschechter First Flush wurde dieser Kabusecha im Frühsommer im japanischen Kirishima Gebirge von unseren Teebauern geerntet. Vor der Ernte werden die Teepflanzen beschattet wodurch eine Qualitätsverbesserung erreicht wird und der Kabuse Sencha sein Umami und den süßlichen Geschmack erhält. Im Anschluss wird der Grüntee bedämpft und dadurch schonend erhitzt, sodass der Tee seinen vollen Geschmack entfaltet und nicht zum Schwarztee fermentiert. Die frischen Grünteeblätter werden gerollt, damit die charakteristischen Aromastoffe an die Oberfläche treten können, die wir dann später in unserem Teegetränk genießen können. Die verarbeiteten Blätter werden anschließend sortiert und machen sich dann auf den Weg in unser Lager, wo sie darauf warten, von dir aufgegossen werden zu dürfen.</p>
<br/>