
<h2><b>Magic Oolong - ein ausgezeichneter Oolong Taiwan!</b></h2>
<p><strong>Inhalt </strong></p>
<ol>
  <li><a href="#eins">Was ist Magic Oolong &amp; Oolong Taiwan?</a></li>
  <li><a href="#zwei">Was ist Oolong?</a></li>
<ol>
<li><a href="#zweieins">Oxidationsgrad Dark Pearl Oolong</a></li>
</ol>
<li><a href="#drei">Wie schmecken Oolong Tees aus Taiwan?</a></li>
<ol>
<li><a href="#dreieins">Aussehen Oolong Taiwan</a></li>
</ol>
<li><a href="#viet">Wie wird der Oolong Taiwan zubereitet?</a></li>
<ol>
<li><a href="#viereins">Aufguss und Ziehzeit</a></li>
</ol>
<li><a href="#funf">Taiwan ist bekannt für besondere Raritäten und die anspruchsvolle Teekultur</a></li>
<li><a href="#sechs">Herkunft des Magic Oolongs bzw. Dark Pearl Oolongs</a></li>
<li><a href="#sieben">Anbau und Produktion Oolong Taiwan</a></li>
<li><a href="#acht">Formosa Oolong Tee Wirkung</a></li>
<ol>
<li><a href="#achtneins">Koffein Magic Oolong</a></li>
<li><a href="#achtzwei">Wertvolle Inhaltsstoffe</a></li>
</ol>
<li><a href="#neun">Abkühlung mit Oolong Cold Brew</a></li>
<ol>
<li><a href="#neuneins">Zubereitung Oolong Cold Brew</a></li>
</ol>
</ol>
<div>
<span>Formosa Oolong steht für Oolong Tee aus Taiwan. Der Grund: Taiwan wurde früher oft Formosa genannt. Hier soll es um den Magic Oolong gehen. Es ist ein erstklassiger Oolong aus der </span><span>Tai Tung-Region Taiwans.</span><span> Gleichzeitig möchten wir Euch mehr über Taiwans Teekultur verraten!</span>
</div>
<p><span><a href="https://tea-club.de/collections/oolong-tee">Oolong Tees</a></span><span> gelten schon immer als faszinierend, weil sie vielseitig und außerordentlich genussvoll sind. Ursprünglich kommen sie aus Wuyi, der Provinz Fujian in China. Schließlich wird die Teekultur nach Taiwan, Indonesien und Vietnam gebracht. </span><span>Die Mehrheit der Tees wird in Taiwan in Shinding und Pinglin produziert. 90% der Einwohner arbeiten dort als Teebauern. </span><span>Zu den bekanntesten Sorten Taiwans zählen:</span></p>
<ul>
<li>
<span></span><span>Jin Xuan aus </span><span>Ali Shan und Zhu Shan</span>
</li>
<li>
<span></span><span>Dong Ding Oolong aus </span><span>Dong Ding Shan, </span><span>Li Shan und Zhu Shan</span>
</li>
<li>
<span>Jade Oolong aus </span><span>Nantou</span>
</li>
<li>
<span></span><span>Pouchong Tee aus Wenshan</span>
</li>
</ul>
<h2 id="eins"><span>Was ist Magic Oolong &amp; Oolong Taiwan?</span></h2>
<p><span>Unser <b>Magic Oolong</b> ist ein echter <i>Dark Pearl Oolong</i>. Aufgrund seines magischen Geschmacks hat er von uns diesen Namen bekommen. Er kommt aus den besonderen Höhenlagen Taiwans. Der Magic Oolong ist ein Edeltee, der besonders stark oxidiert ist und eine a</span><span>usgeprägte Perlenform besitzt.</span></p>
<h2 id="zwei">Was ist ein Oolong?</h2>
<p><span>Bei Oolong handelt es sich um einen halbfermentierten Tee. Die Teeblätter sind bereits in der Sonne oxidiert. Auf Mandarin bedeutet Oolong "Schwarzer Drache". Man kann sagen, es liegt an der schwarzen Farbe und dem länglichen und gerollten Aussehen. Aufgrund der Fermentation ist der Oolong Tee die perfekte <b>Nische</b> zwischen <b>Grüntee und Schwarztee.</b></span></p>
<h3 id="zweieins">Oxidationsgrad Dark Pearl Oolong</h3>
<p><span>Der Dark Pearl Oolong besitzt einen sehr hohen Oxidationsgrad. Der <b>Magic </b></span><span><b>Oolong </b></span><span><b>aus Taiwan</b> weist deshalb einen </span><span><b>hohen Schwarztee Charakter</b></span><span> auf. Ein </span><span>Oxidationsgrad von 60 - 75% wird als <b>dunkler Oolong Tee</b> bezeichnet. </span></p>
<h2 id="drei">Wie schmecken Oolong Tees aus Taiwan?</h2>
<p><span>Der Oolong Taiwan entfaltet einen aromatischen Duft tropischer Früchte. Dieser stark oxidierte wird im Osten Taiwans sogar “Roter Oolong” benannt. </span></p>
<p><span>Der Formosa Oolong überzeugt als ausgezeichneter Schwarztee, der gleichzeitig die vielschichtige Komplexität eines Oolong behält. Er ist ein echtes Muss für alle, die einen Tee aus ganzen Blättern suchen. Formosa Oolongs zeigen ein breites Spektrum an Aromen:</span></p>
<ul>
<li><span>eine cremige Textur</span></li>
<li><span>eine blumig-tropisches Aroma</span></li>
<li><span>Eine liebliche und natürliche Süße </span></li>
</ul>
<h3 id="dreieins">Aussehen Oolong Taiwan</h3>
<p>Der Aufguss leuchtet in bernsteinfarben und entfaltet einen <b>aromatischen Duft tropischer Früchte</b>, deren Geschmacksnoten sich eins zu eins auf der Zunge widerspiegeln. Probiert es einfach aus! In unserem Onlinestore bieten wir eine 50gr Packung Magic Oolong zum Testen.</p>
<h2 id="vier">Wie wird der Oolong Taiwan zubereitet?</h2>
<p><span>Um den Oolong Taiwan zuzubereiten, nehmt Ihr 3-4 gehäufte Teelöffel auf 1 Liter Wasser. Das Wasser sollte man zwischen 80 und 85°C aufbrühen. Bei dieser niedrigen Temperatur entsteht keine Bitterkeit.</span></p>
<h3 id="viereins">Aufguss und Ziehzeit </h3>
<p><span>Beim ersten und zweiten Aufguss zieht der Oolong Tee nicht länger als 2-3 Minuten. So erhält man das besondere Aroma. Bei den darauffolgenden Aufgüssen ergänzt man je Aufguss 30 Sekunden Ziehzeit. Oolongs mit besonders guter Qualität bieten bis zu sechs Aufgüsse. </span><span>Aus unserer 100g Magic Oolong Packung könnt Ihr bis zu </span><span>50 Liter Tee</span><span> zubereiten - abhängig von der Intensität Eurer Aufgüsse.  </span></p>
<p><span>Echtes Insider-Wissen</span><span><b>:</b> Bei einer 500 ml-Teekanne ist das Nachgießpotenzial meist geringer. Verwendet also lieber einen großen Aufguss-Korb oder Gaiwan. Der Grund: Die Blätter benötigen viel Platz, um sich auszudehnen. Ein großzügiges Sieb ist deshalb wichtig. Die Teeblätter zeigen eine große Blattkonfiguration aus Knospe und zwei Blättern. Die Blätter müssen sich vollständig entfalten, damit sich das Aroma entfaltet.</span></p>
<h2 id="funf">Taiwan ist bekannt für besonderen Raritäten und die anspruchsvolle Teekultur.</h2>
<p><span>In Tee-Kreisen sagt man zu Taiwan gern “Formosa”. Taiwan ist ein wichtiger Teeproduzent, erst Recht für Oolong Tees! </span></p>
<p><span>Mit Beginn des 19. Jahrhunderts wanderte der Anbau vom Festland zu Taiwan. Taiwan wird durch die Republik China regiert. Als der chinesische Bürgerkrieg ausbrach, flüchtete die Regierung vor dem chinesischen Festland und wanderte nach Taiwan. Die Teegeschichte Taiwans ist im Vergleich zum Festland noch sehr jung, dafür umso trendiger.</span></p>
<p><span>Die Teebauern Taiwans konzentrieren sich auf <b>besondere Raritäten</b>. Unter Teekennern ist das Land sehr beliebt. Taiwan ist im weltweiten Markt nicht der größte Hersteller, sondern der Spezialist für besondere Edeltees! </span></p>
<p><span>Die Taiwanesen besitzen eine starke Teekultur. Sie veranstalten unzählige Tee-Wettbewerbe, um den besten Tee ausfindig zu machen. <b>Der Teegenuss gilt</b> als <b>sehr anspruchsvoll.</b> Dafür können wir Taiwans Oolongs einfach nur lieben.</span></p>
<p><span>In Taiwan werden verschiedene Teesorten hergestellt: grüne, schwarze und weiße Tees. Am beliebtesten ist jedoch die Produktion von Oolongs und Pouchong-Tees. Der Tung Ting (Dong Ding) ist mit seinem humorvollen Namen weltweit bekannt. </span></p>
<p><span>In Taiwan werden Oolongs in besonders hohen Lagen angebaut. Der Duft subtropischer Früchte kommt im Oolong sehr gut zum Ausdruck. Das muss am subtropischen Klima liegen.</span><span><sup>1</sup></span><span>  </span></p>
<h2 id="sechs">Herkunft des Magic Oolongs bzw. Dark Pearl Oolongs</h2>
<p><span>Die Teepflanzen des Magic Oolongs (<i>Camellia sinensis</i>) werden in der <b>Tai Tung-Region</b> im Osten Taiwans kultiviert. Diese Region verleiht der Teepflanze aufgrund der klimatischen Verhältnisse die besten Voraussetzungen für einen hervorragenden Tee. Überreiche Niederschläge, üppiger Sonnenschein und Nebelphasen bieten die idealen Bedingungen. </span></p>
<p><span>Die Blätter werden per Hand gepflückt. Nach der Produktion werden sie wiederum durch wiederholtes und sorgfältiges Rollen in die Perlenform gebracht. </span></p>
<h2 id="sieben">Anbau und Produktion Oolong Taiwan</h2>
<p><span>Die Teeherstellung läuft in Taiwan sehr modern und automatisiert ab. Die Teeblätter werden mehrfach gepflückt, gewelkt, gequetscht und geröstet. Das besondere Aroma und die Kugelform sind charakteristisch für die Oolongs Taiwans.</span></p>
<p><span><b>1. Pflückung der Teeblätter</b></span></p>
<p><span>In Taiwan gibt es vier Ernten, wobei sie im Herbst und Frühling als die besten gelten. Beim Zupfen der Spitzen benutzen die Teebauern Rasierklingen an den Fingern - für schnelle Pflückungen.</span><span><sup>2</sup></span></p>
<p><span><b>2. Auslegen in der Sonne</b></span></p>
<p><span>Die Teeblätter legen sie im Sonnenlicht aus, damit die Feuchtigkeit entweicht. Sobald die Blätter vollständig und natürlich aufgeheizt sind, werden sie ins Haus gebracht. In automatisierten Bambustrommeln werden sie über mehrere Stunden gewirbelt.</span><span><sup>2</sup></span></p>
<p><span><b>3. Fermentation und Trocknung</b></span></p>
<p><span>Anschließend beginnt die Saft-Fermentation. Die Blätter werden hierfür auf Bambusschalen gelegt und durch mehrfaches Schwenken gebrochen. Die Oxidation bzw. Röstung passiert in einer Drehtrommel bei 300°C. In der Trommel werden die Blätter einzeln abgetrennt und gleichzeitig oxidiert.</span><span><sup>2</sup></span><span> </span></p>
<p><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/oolong-tee-herstellung-fermentation-trocknung.jpg?v=1616942569" alt="Oolong Tee Herstellung" style="display: block; margin-left: auto; margin-right: auto;" /></p>
  <p><center><i>Quelle: voyata - stock.adobe.com</i></center></p>
<p><span><b>4. Formen der Teeblätter</b></span></p>
<p><span>Die Teeblätter formt man in eine Kugelform. Die Blätter gibt man zahlreich in einen Stoffsack, den man fest zusammen dreht. Jeder Sack wird mehrfach von der Maschine geknetet. Durch diesen Prozess werden die Blätter zu Kugeln gerollt. Der Tee wird anschließend ein zweites Mal geröstet und die Kugeln separiert. Nach vielen Runden ist der Tee endlich fertig und wird verpackt.</span><span><sup>2</sup></span></p>
<h2 id="acht">Formosa Oolong Tee Wirkung </h2>
<h3 id="achteins">Koffein Magic Oolong</h3>
<p><span>Dieser Oolong Tee aus Formosa enthält Koffein. Wie viel Koffein tatsächlich in einer Tasse steckt, hängt stark von einzelnen Faktoren ab:</span></p>
<ul>
<li><span>Erntezeitpunkt der Blätter</span></li>
<li><span>Oxidationsgrad</span></li>
<li><span>Die Menge der Teeblätter</span></li>
<li><span>Die Ziehzeit</span></li>
<li><span>Das Aufbrüh-Gefäß<br> </span></li>
</ul>
<p><span>Man kann sagen, dass Oolong Tees zwischen 30 und 45 mg Koffein pro 100 ml enthalten. Im Vergleich dazu enthält Schwarzer Tee 50 mg und Kaffee 80 mg Koffein.</span> </p>
<h2 id="neun">Abkühlung mit Oolong Cold Brew</h2>
<p><span>Der Formosa Oolong eignet sich als Cold Brew Getränk. Grundsätzlich ist ein Kaltaufguss mit Teesorten möglich, die besonders kräftig im Geschmack sind - genau wie unser Magic Oolong! Beim Aufguss schmeckt man das liebliche Aroma der Blätter. Die Komplexität des Geschmacks kommt sehr gut zum Ausdruck. </span></p>
<h3 id="neuneins">Zubereitung Oolong Cold Brew</h3>
<p><span>Die Zubereitung ist simpel; Ihr braucht nicht mal einen Teebeutel. Nehmt 4 gehäufte Teelöffel auf 1 Liter Wasser. Die großen Blätter des Oolongs sinken von alleine auf den Boden. Achtet darauf, wie gut sich die Blätter ausdehnen. Es ist ein Indikator dafür, wann der Tee fertig ist. Jetzt ist Eure Geduld gefragt! Der Tee benötigt 5-8 Stunden Ziehzeit im Brühgefäß. Genießt den kalten, sommerlichen Aufguss aus Taiwan - vom anderen Ende der Welt.</span><span><sup>3</sup></span></p>
<h2><strong style="font-size: 15px;">Quellen: </strong></h2>
<p><span style="font-weight: 400;"><a href="https://teajourneyman.wordpress.com/2014/06/26/tu-quy-oolong-tea-from-lam-dong-province-in-vietnam">1. https://teajourneyman.wordpress.com/2014/06/26/ tu-quy-oolong-tea-from-lam-dong- province-in-vietnam<br></a></span></p>
<p><span style="font-weight: 400;"><a href="https://www.killgreen.io/main/vietnamese-tea-origin">2. https://www.killgreen.io/main/ vietnamese-tea-origin</a></span></p>
<p><span style="font-weight: 400;"><a href="https://redblossomtea.com/blogs/red-blossom-blog/3-ways-to-brew-formosa-oolong-teas">3. https://redblossomtea.com/blogs/red-blossom-blog/ 3-ways-to-brew-formosa-oolong-teas</a></span></p>
<p> </p>