<h2>Masala Chai - das indische Nationalgetränk mit vielen kreativen und würzigen Varianten</h2>
<p><strong>Inhalt </strong></p>
<ol>
<li><a href="#eins">Was bedeutet Chai Tee und was macht ihn besonders?</a></li>
<li><a href="#zwei"><span>Die Geschichte des indischen Nationalgetränkes </span></a></li>
<li><a href="#drei"><span>Eine bunte Vielfalt an Zutaten: Aus was besteht Chai Tee?</span></a></li>
<li><a href="#vier"><span>Chai Geschmack und Genussvielfalt</span></a></li>
<li><a href="#funf"><span>Traditionelle Zubereitung von Chai Tee </span></a></li>
<ol>
<li><a href="#funfeins"><span>Chai Latte Rezept mit Masala Chai von TeaClub</span></a></li>
<li><a href="#funfzwei"><span>Chai Tee mit Milch zubereiten</span></a></li>
<li><a href="#funfdrei"><span>Wie viel Koffein ist in Chai Tee enthalten? </span></a></li>
</ol>
<li><a href="#sechs"><span>Chai Tee kaufen: Auf diese Qualitätsmerkmale solltet Ihr achten</span></a></li>
<ol>
  <li><a href="#sechseins"><span>Chai Masala Latte ohne Zucker oder mit?</span></a></li>
</ol>
</ol>
<p> </p>
<div>
<h2 id="eins"><span>1. Was bedeutet Chai Tee und was macht ihn so besonders?</span></h2>
<p><span>Chai ist die Kurzform für Masala Chai, ein Getränk aus Schwarztee und einer guten Mischung an Gewürzen, Milch und oftmals Zucker. Der Basistee ist in der Regel ein sehr kräftiger Schwarztee wie Assam oder eine Mischung aus Assam und Ceylon. Masala bedeutet in der Sprache der Hindu "Mischung". Das Wort Chai wird weltweit als Tee übersetzt. </span></p>
<p>Chai Tee wird gerne als Alternative zu Kaffee getrunken, da es ebenfalls Koffein besitzt und als Chai Latte getrunken, mit Milch kombiniert wird.</p>
</div>
<div></div>
<div><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/Masala_Chai_Teetasse_TeaClub_480x480.jpg?v=1623858658" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></div>
<br />
<h2 id="zwei"><span>2. Die Geschichte des indischen Nationalgetränkes </span></h2>
<p><span>Im Jahr 1830 war die Britische Ostindien-Kompanie besorgt über die große chinesische Monopolstellung in Indien. Bis zu 90% des Tees, den man hier verzehrte, stammte aus China.</span></p>
<p><span>Die in Indien lebenden Briten entdeckten jedoch schnell die Assam-Teepflanze für sich. Um 1900 gelang es, sich von Chinas Tee-Export fast vollkommen zu liberalisieren. Der Fokus lag schließlich auf den eigens angebauten Assam sowie ein kleiner, importierter Anteil von Ceylon (30%) aus Sri Lanka. </span></p>
<p><span>Das indische Nationalgetränk nimmt schließlich mit der damaligen Werbekampagne der Indian Tea Association richtig Fahrt auf. Hier animierte man die Arbeiterklasse, regelmäßige Teepausen einzulegen. </span> Mahatma Gandhi bewertet Chai deshalb lange als Symbol der Unterdrückung.</p>
<p><span>Dennoch etablierte sich das Getränk! In Indien entwickelte man eine eigene Art, den Tee zu trinken: Er wird mit einem geringen Zusatz von Milch und Zucker sowie weiteren Gewürzen verzehrt.</span></p>
<p><span>Heutzutage gibt es viele Teeverkäufer in Indien, die ihre eigenen Chais mischen. Man nennt sie die “Chai Wallahs”! Es wird in vielen südasiatischen Haushalten, in Ostafrika, den Arabischen Emiraten sowie in Indien, Pakistan, Bangladesch, Nepal und Sri Lanka konsumiert. Seit vielen Jahren ist der Chai Tee in der westlichen Kultur ein etabliertes Getränk in zahlreichen Kaffeehäusern. Hier wird er in allen Variationen kreativ zubereitet: als Dirty Chai oder Soja-Vanille-Chai-Latte. ;-)</span></p>
<br />
<h2 id="drei"><span>3. Eine bunte Vielfalt an Zutaten: Aus was besteht Chai Tee eigentlich?</span></h2>
<p><span>Beliebte Gewürze für Chai-Mischungen sind Fenchel, Anis, Ingwer, Zimt, Kardamom, Pfefferkörner und Nelken. Eine andere Art Chai Masala Mix enthält beispielsweise</span> <span>grüne Kardamomschoten, Piment oder Muskatnuss. In den Mengen variieren die Gewürzmischungen "karha" oft.</span></p>
<p><span>Pfeffer ist besonders beliebt. Er verleiht dem Geschmack eine gewisse Schärfe. </span>Unsere Masala Chai Mischung enthält Zichorienwurzeln für eine karamellige und kaffeeähnliche Note. Probiert es einfach aus und überzeugt Euch selbst.</p>
<p>Ein völlig andere Art Masala Chai zu trinken ist es, Grünen Tee statt Schwarztee zu verwenden. Der Grüne Chai, auch “kaschmirische” Chai Version genannt, wird gerne in der Himalaja-Region getrunken. Er enthält wiederum andere Gewürze wie Mandeln, Chili, Salz oder Safran. </p>
<p>Die<strong> Vielfalt der Chai Mischungen</strong> ist reizvoll und macht den Chai Tee letztlich zu einem<strong> wirklich individuellen Genuss-Getränk!</strong></p>
<p> </p>
<h2 id="vier"><span>4. Chai Geschmack und Genussvielfalt</span></h2>
<p><span>Ursprünglich stammt die Chai-Mischung aus der ayurvedischen Gesundheitslehre. Chai-Mischungen werden wegen ihrer bekannten, positiv auf den Körper und Geist wirkenden Eigenschaften getrunken. Richtig zubereitet, entwickeln die Teeblätter der Chai Mischung ein intensives Aroma ohne Bitterkeit. Das süße, würzige Getränk regt an, aber nicht auf. In Indien schätzt man die diversen Chai-Zubereitungen aufgrund ihrer wohltuenden Wirkung.</span></p>
<p><span style="font-weight: 400;">Der Teegenuss variiert nicht nur in den Mengen, sondern auch im Geschmack. Bei uns hier “im Westen” trinkt man den Chai bzw. Chai Latte mit einem süßen und milden Geschmack. In der indischen Version hingegen wird der Chai Tee eher kräuterig und würzig verzehrt. </span></p>
<p><span style="font-weight: 400;">Unser Masala Chai von TeaClub entspricht der ursprünglichen und traditionellen Version! Beim Genuss werdet Ihr gegenüber den Chais so mancher Cafés direkt einen Unterschied schmecken.</span></p>
<h2><span></span></h2>
<h2 id="funf"><span>5. Traditionelle Zubereitung von Chai Tee </span></h2>
<p><span style="font-weight: 400;">Bei der Zubereitung eines indisches Masala Chais gibt es keine festen Regeln. Im Gegenteil: Jede indische Familie hat seine eigene Version des Tees. Masala Chai ist deshalb keine spezifische Teesorte, sondern eher als Teeklasse zu verstehen. Bei der Zubereitung hebt sich der Masala Chai von anderen Teesorten deutlich ab: Nahezu alle Teesorten werden in Wasser aufgebrüht und später mit Milch versetzt. Anders ist es bei der traditionellen Zubereitung von Masala Chai: Der lose Tee wird oft direkt in der Milch aufgebrüht. Traditionell wird in Indien hierfür Wasserbüffelmilch oder Kondensmilch verwendet.</span></p>
<p><span>Auch bei der Zubereitung gibt es merkliche Unterschiede. Manchmal werden alle Zutaten zu Beginn vermischt und zum Kochen gebracht, manchmal wird erst der lose Tee zum Kochen gebracht und gegen Ende die Gewürze. Achtet bei der Zubereitung darauf, dass Ihr in gleichen Teilen Milch und Wasser im Topf verrührt. </span></p>
<br />
<h3 id="funfeins"><span>5.1 Chai Latte Rezept mit Masala Chai von TeaClub</span></h3>
<p><span>Unser Masala Chai eignet sich hervorragend für die Zubereitung eines angenehmen Chai Lattes - Heiß oder Iced! Die meisten Cafés verwenden entweder Chai Latte Pulver oder ein Chai Latte Sirup, wobei der Zucker bzw. die Süße doch recht intensiv ist. Wenn Ihr darauf lieber verzichtet, empfehle ich Euch, unseren Masala Chai zu kaufen. </span></p>
<br />
<p><span>Hier haben wir noch zwei außergewöhnliche Kreationen für Euch: </span></p>
<ol>
<li>Beim <b> Black Chai</b><span> ergänzt Ihr unseren Masala Chai Tee mit dem <a href="https://tea-club.de/products/ceylon-tee-nuwara-eliya" title="TeaClubs Ceylon Tee" target="_blank" rel="noopener noreferrer">Ceylon Nuwara Eliya</a> oder <a href="https://tea-club.de/products/gentlemens-breakfast" target="_blank" title="TeaClubs Gentlemens Breakfast" rel="noopener noreferrer">Gentlemens's Breakfast</a> aus Assam und Sumatra zusätzlich. Wie der Name verrät, ist dieser aufgrund des hohen Schwarztee-Gehaltes besonders dunkel. Wenn Ihr anfangt, unsere Mischung zu adaptieren, seid Ihr jedenfalls die </span><span>“Chai Wallahs” unseres Herzens!</span></li>
<li>Beim <b> Dirty Chai</b><span> gebt Ihr zum traditionellen Chai noch zwei Espresso-Shots hinzu. Das entspricht dem ultimativen Koffeinkick und der Verehelichung von Tee und Kaffee.</span></li>
</ol>
<p><span><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/BlackChai_TeaClub_480x480.jpg?v=1623858900" alt="Black Chai im Glas" style="display: block; margin-left: auto; margin-right: auto;" /></span></p>
<p> </p>
<h3 id="funfzwei"><span>5.2 Chai Tee mit Milch zubereiten</span></h3>
<p><span>Verwendet vier Teelöffel des Masala Chais. Kocht den Tee mit Milch und 100°C heißem und sprudelndem Wasser für mindestens 5 Minuten auf. Wer es intensiver mag, kann den Chai Latte bis zu 10 Minuten im Topf ziehen lassen. Wenn Ihr den Tee lieber pur genießen wollt, verzichtet auf Milch. </span></p>
<p><span>Die festen Tee- und Gewürze-Reste werden vor dem Servieren aus dem Masala Chai abgeseiht. Schmeckt Euren Chai Latte anschließend mit Honig ab.</span></p>
<br />
<h3 id="funfdrei"><span>5.3 Wie viel Koffein ist in Chai Tee enthalten? </span></h3>
<p><span>Unser Masala Chai Mischung besteht nur aus Gewürzen und enthält daher kein Koffein. Ein Schwarztee kann optional dazu gegeben. Daher könnt ihr Euren Chai Tee getrost am Abend trinken und den Masala Chai nach eurem belieben mit Schwarztee mischen.</span></p>
<h2 id="sechs"><span>6. Chai Tee kaufen: Auf diese Qualitätsmerkmale solltet Ihr achten</span></h2>
<p><span>Ein guter Masala Chai sollte einen aussagekräftigen Geschmack besitzen und ganz ohne Zusatz von Aromen auskommen. Leider gibt es auf dem Markt recht viele Chais, die aromatisiert sind. Achtet beim Kauf auf den Hinweis “aromatisiert". Ein Masala Chai sollte ungesüßt eine vollmundige und süße Note tragen. Wo wir schon bei der nächsten Frage wären..</span></p>
<h3 id="sechseins">6.1 Chai Masala Latte ohne Zucker oder mit?</h3>
<p><span>Wenn Ihr uns fragt: ohne! Wem die eigene Süße des Chais nicht ausreicht, der süßt idealerweise mit Honig, braunem Zucker oder Kokosblütenzucker, aber das ist natürlich wie so vieles im Leben pure Geschmackssache! </span></p>
<p><span style="font-weight: 400;">Es empfiehlt sich, den Chai Tee lose zu kaufen. Natürlich sind Teebeutel in der Zubereitung bequemer. Wenn Ihr aber einen traditionellen und hoch aromatischen Chai Tee probieren möchtet, solltet Ihr diesen als Chai-Mischung in einem Topf zubereiten. Achtet außerdem darauf, dass ihr den losen Chai Tee aromasicher einkauft. Bei uns gibt es den Chai im wiederverschließbarem Beutel.</span></p>
<br><p>Viel Spaß beim Genießen und Ausprobieren der vielen Chai Gewürzmischungen!</p><br>
<br>
<h2><strong style="font-size: 15px;">Quellen: </strong></h2>
<p><a href="https://en.wikipedia.org/wiki/Masala_chai" title="Wikipedia_Masala_chai"><span>https://en.wikipedia.org/wiki/Masala_chai</span> </a></p>
<span></span>