<h2>Milky Oolong - ein fermentierter Oolong-Tee mit besonderer Milchnote</h2>
<p><strong>Inhaltsverzeichnis </strong></p>
<p><a href="#eins">1. Was ist Milky Oolong Tee?</a></p>
<p><a href="#zwei">2. Was ist ein Oolong-Tee?</a></p>
<p><a href="#drei">3. Wie schmeckt ein Milky Oolong?</a></p>
<p><a href="#vier">4. Milky Oolong Tee Zubereitung</a></p>
<p><a href="#funf">5. Wie wird Milky Oolong hergestellt?</a></p>
<p><a href="#sechs">6. Milch Oolong oder Milky Oolong kaufen</a></p>
<h2 id="eins">1. Was ist Milky Oolong Tee?</h2>
<p><span style="font-weight: 400;">Der Milky Oolong Tee, auch </span><i><span style="font-weight: 400;"> Milch Oolong</span></i><span style="font-weight: 400;"> genannt, ist ein </span><b>besonderes Genusserlebnis</b><span style="font-weight: 400;">. Dieser Oolong-Tee ist bekannt für seine einzigartige Milchnote. Es gibt sehr unterschiedliche Milky Oolong Qualitäten am Markt, wobei wir uns für eine besonders aussagekräftigen und harmonischen Oolong Tee entschieden haben. Insbesondere Oolong-Einsteiger haben viel Freude mit dem milden Aroma.</span></p>
<h2 id="zwei">2. Was ist ein Oolong-Tee?</h2>
<p><span style="font-weight: 400;">Bei einem </span><a href="https://tea-club.de/collections/oolong-tee"><span style="font-weight: 400;"> Oolong</span></a><span style="font-weight: 400;">  handelt es sich um einen halbfermentierten Tee. Grüntee - und Schwarztee Oolongs werden aus der Teepflanze  </span><i><span style="font-weight: 400;">Camellia sinensis</span></i><span style="font-weight: 400;"> hergestellt und unterscheiden sich in ihrer Verarbeitung. Ein Oolong kann sowohl einen Grüntee Charakter als auch einen Schwarztee Charakter aufweisen. Dies hängt stark von dem Herstellungsverfahren bzw. der oxidativen Fermentation ab. </span></p>
<p><span style="font-weight: 400;">Grüntee wird nach der Ernte schnellstmöglichst erhitzt, damit die Enzyme in den Teeblättern inaktiviert werden und der Tee grün und frisch bleibt. Bei einem Schwarztee hingegen werden die Teeblätter einer oxidativen Fermentation unterzogen, indem sie bei einer bestimmten Temperatur für eine gewisse Zeit gelagert werden. </span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Oolong mit Grünteecharakter: dieser</span> <a href="https://tea-club.de/collections/oolong-tee/products/milky-oolong"><span style="font-weight: 400;">Milky Oolong</span></a> <span style="font-weight: 400;">und</span> <a href="https://tea-club.de/products/vietnam-oolong"><span style="font-weight: 400;">Vietnam Oolong</span></a><span style="font-weight: 400;">  </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Oolong mit Schwarztee Charakter  </span><a href="https://tea-club.de/products/magic-oolong"><span style="font-weight: 400;">Magic Oolong</span></a><span style="font-weight: 400;"> aus Taiwan</span></li>
</ul>
<h2 id="drei">3. Wie schmeckt ein Milky Oolong?</h2>
<p><span style="font-weight: 400;">Entscheidend für den Geschmack ist immer die Herkunft des grünen Oolongs, der als Basis für den Milky Oolong dient. Unser </span><b>Milch Oolong  </b><span style="font-weight: 400;">stammt aus </span><b> China</b><span style="font-weight: 400;"> - ein beliebtes Herkunftsland des Milky Oolongs. Die hochwertigsten Milky Oolongs wachsen auf einem großen Berg, um den reichen Geschmack und Duft zu erhalten. Unser Milky Oolong trägt ein </span><b>markant cremiges Aroma.</b><span style="font-weight: 400;"> Die Aromen entfalten sich besonders im Geschmack und angenehm im Geruch beim Aufguss.</span></p>
<p><span style="font-weight: 400;">Echte Milky Oolong Tee Genießer beschreiben einen süßen und blumigen Duft sowie einen Geschmack von süßer Butter und Milch durch <b>sanft geröstete und gerollte Teeblätter.</b><span style="font-weight: 400;"> Die Milchnote entsteht durch die besondere Verarbeitung. Tatsächlich ist aber keine echte Milch im Tee enthalten, sondern lediglich der Milchzucker (Laktose).</span></span></p>
<h2 id="vier">4. Milky Oolong Tee Zubereitung</h2>
<p><span style="font-weight: 400;">Milky Oolong ist ein halbfermentierter Tee und kann mehrfach aufgegossen werden. Aus 100g Milky Oolong können je nach Intensität und Anzahl der Aufgüsse bis zu 50 Liter Tee zubereitet werden. </span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Um 500ml Tee zuzubereiten, verwendet man 2 Teelöffel des losen Milky Oolong Tees</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">für 1 Liter vier Teelöffel Milch Oolong</span></li>
</ul>
<p><span style="font-weight: 400;">Da dieser Tee von höchster Qualität ist, wird der Geschmack bei jedem Aufguss besser und besser, wobei die Grenze bei bis zu fünf Aufgüssen liegt. Dieser Oolong Tee sollte man bei einer Temperatur von 90°C aufgießen. </span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ziehzeit für den ersten Aufguss: 3 Minuten</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Alle weiteren Aufgüsse sind verkürzt und liegen bei 1-3 Minuten. </span></li>
</ul>
<p><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/milky-oolong-zubereitung_large.jpg?v=1524564256" alt="Milky Oolong Zubereitung" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p><span style="font-weight: 400;">Probiert Euch aus und schaut, welche Ziehzeit Euch am besten schmeckt. Achtet darauf, den Tee in einem dicht verschlossenen Gefäß, vorzugsweise aus Porzellan oder Glas aufzubewahren. Unsere Verpackung eignet sich ebenfalls sehr gut für die Aufbewahrung des Tees. Die besonderen Aromen bleiben erhalten und man hat länger Freude mit dem Milky Oolong.</span></p>
<h2 id="funf">5. Wie wird Milky Oolong hergestellt?</h2>
<p><span style="font-weight: 400;">Rohe Blätter werden von Hand gesammelt, die Teebauern sammeln die obersten Blätter mit einer Knospe. Die losen Teeblätter gehen sofort in die Verarbeitung. Die Teeblätter werden auf eine Plane gestreut, damit sie verwelken. Die Teebauern achten sehr darauf, dass der Welkprozess in den Teegärten gleichmäßig verläuft. Schließlich werden alle Blätter gleichmäßig erhitzt, um die Premium-Qualität zu erreichen.</span></p>
<p><span style="font-weight: 400;">In einem kühlen und feuchten Raum werden die Teeblätter ausgebreitet und über Nacht stehen gelassen. Dies ist notwendig, um die Fermentation des Zellsaftes zu starten. Die Oxidation besteht im mehrfachen Erhitzen der Blätter bei jeweils unterschiedlichen Temperaturen. Die Endtrocknung erfolgt bei einer Temperatur von 100°C.</span></p>
<p><span style="font-weight: 400;">Die Blätter werden in eine spezielle Maschine gegeben, wo sie zu Kugeln gedreht werden. Dieser Prozess wird mehrmals durch die Teemeister wiederholt, bis die gewünschte Geschmacksnote in den Blättern erzielt wurde. Um den erstaunlichen Geschmack zu erhalten, ist es notwendig, die Technologie perfekt zu kennen, bestimmte Bedingungen zu beachten und viel Zeit in der Herstellung einzuplanen.</span><span style="font-weight: 400;"><sup>1</sup></span></p>
<p><span style="font-weight: 400;">Die Haupterzeugerländer sind China und Taiwan. Der erste Jin Xuan  - der Original Milky Oolong - wurde in den 80er Jahren in Taiwan entwickelt.</span><span style="font-weight: 400;"><sup>2</sup></span></p>
<p><img class="lazy2 lazy3" src="//cdn.shopify.com/s/files/1/0821/7481/files/milky-oolong-herstellung.jpg?v=1615318256" alt="Milky Oolong Herstellung" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<h2 id="sechs">6. Milch Oolong oder Milky Oolong kaufen</h2>
<p><span style="font-weight: 400;">Mein Milky Oolong wird in China hergestellt. Es ist ein  </span><span style="font-weight: 400;">exklusiver </span><i><span style="font-weight: 400;">China Milky Oolong Tea</span></i><span style="font-weight: 400;"> und Premium Oolong in hervorragender Qualität.  </span><span style="font-weight: 400;">Achtet beim Kauf des Milky Oolong auf die verschiedenen Zutaten und meidet künstliche Aromen.</span></p>
<p><span style="font-weight: 400;">Traditionell wird Oolong-Tee in Taiwan und China in kleineren Mengen zubereitet und dafür öfters aufgegossen. Als Zubehör verwendet man entweder einen  </span><a href="https://tea-club.de/collections/teezubehoer/products/gaiwan-porzellan-80ml"><b>Gaiwan</b></a><span style="font-weight: 400;"> oder eine <strong>passende Teekanne</strong>,</span><span style="font-weight: 400;"> welche aus Ton hergestellt wurde.</span></p>
<p><br /><br /></p>
<p><strong>Quellen: </strong></p>
<p><span style="font-weight: 400;">1. https://taiwanleaftea.com/info/how-milk-oolong-made</span></p>
<p><span style="font-weight: 400;">2. </span><a href="https://en.wikipedia.org/wiki/Jin_Xuan_tea"><span style="font-weight: 400;">https://en.wikipedia.org/wiki/Jin_Xuan_tea</span></a></p>