<h2><strong>Sencha Tee ist der Klassiker unter den Grüntees</strong></h2>
<p><strong>Inhalt</strong></p>
<ol>
<li><a href="#eins">Was ist Sencha Tee?</a></li>
<li><a href="#zwei">Sencha und sein runder Geschmack</a></li>
<li><a href="#drei">Sencha Tee kaufen: Worauf sollte man achten?</a></li>
<li><a href="#vier">Sencha Zubereitung</a></li>
<ol>
<li><a href="#viereins">Sencha Ziehzeit</a></li>
</ol>
<li><a href="#funf">Sencha Anbaumethode und Anbaugebiete</a></li>
<li><a href="#sechs">Sencha Wirkung - Was sind die positiven Effekte?</a></li>
<li><a href="#sieben">Fazit Bester Sencha Tee</a></li>
</ol>
<p> </p>
<h2 id="eins">Was ist Sencha Tee?</h2>
<p>Man könnte sagen, ein Sencha “geht immer” wie eine bekömmliche Tasse Kaffee. Sencha ist der Klassiker der Grüntee-Szene. Er ist Japans “Allday”-Tee geworden, weil er preisgünstig ist, einfach in der Zubereitung und geschmacklich immer auf dem Punkt.</p>
<p>Übersetzt heißt Sencha für <strong>“gedämpfter Tee”</strong>. Diese Besonderheit zeigt sich in den verschiedenen Unterarten des Senchas, die in verschiedenen Dämpfungsgraden kategorisiert werden. In Japan macht der Sencha den Großteil der Produktionsmenge aus. Wir können nur betonen: Sencha ist der bekannteste Grüntee in Japan, der weltweit exportiert wird.</p>
<h2 id="zwei">Sencha und sein runder Geschmack</h2>
<p>Ein Sencha ist dank seines harmonisch-milden Geschmackes bei vielen Menschen sehr beliebt. Daneben schenkt er uns eine leichte Umami-Note und das insgesamt runde Erlebnis. Sein Aroma lässt keine Fragen offen und ist für jeden zugänglich.</p>
<p>Geschmacklich überzeugt er mit einem erfrischend-süßlichem Aroma. Die Tassenfarbe reicht vom zarten <strong>blassgelb bis zum tiefen grün</strong>. Die Aromen variieren je nach Anbaumethode, Dämpfungsgrad, Erntezeitpunkt und Herkunftsregion. Sencha zeigt seine sensorischen Facetten. </p>
<h2 id="drei">Sencha Tee kaufen: Worauf sollte man achten?</h2>
<p>Bei Sencha, genau wie bei anderen Grünteesorten, solltet Ihr unbedingt auf den Erntezeitpunkt achten. First Flush ist die Premium-Variante. Ihr könnt aber auch die Haptik der Blätter bewerten. Anhand der Pflückung erkennt Ihr, wie gut die Qualität ist.</p>
<p>Wenn beispielsweise die Knospe und vier bis fünf Blätter geerntet werden, ist das ein positives Qualitätsmerkmal! Werden weniger Blätter gepflückt, sind die Teeblätter jünger, reich an Umami und weniger adstringierend.</p>
<p>Bei TeaClub könnt Ihr sichergehen, nur eine super Qualität zu erhalten, die man schmeckt und dank der sehr feinen Blätter auch sieht.</p>
<h2 id="vier">Sencha Tee Zubereitung</h2>
<p>Sencha kann man hervorragend als Heißgetränk oder geeisten Sencha-Tee genießen! Dabei ist für Sencha, genau wie für andere Grünteesorten die richtige Zubereitung besonders wichtig, um die vielfältigen Aromen hervorzubringen und die Blätter nicht zu “verbrühen”.</p>
<p><b>Senchadō</b> nennt sich die traditionelle japanische Teezeremonie für Sencha. Wie alle Grünteesorten wird auch Sencha nicht mit einer zu hohenTemperatur aufgegossen. Diese liegt bei ca. 70°C. Die genaue Gradzahl und Ziehzeit solltet Ihr immer dem Verpackungshinweis entnehmen. Die Teebauern wissen am besten, wie die Qualität des Produktes bei der Zubereitung bewahrt werden kann.</p>
<p>Wenn Ihr das Wasser traditionell japanisch kocht, empfehlen wir, einen Herdkessel zu verwenden. Ein Wasserkocher mit Temperaturregler ist aber ebenso geeignet - auch die Tee-Szene ist in der modernen Welt angekommen!</p>
<p>Die Zubereitung des Sencha erfolgt auf japanische Art in einer traditionellen Teekanne mit dem <a href="https://tea-club.de/products/kyusu-schwarz-350-ml" title="kyusu schwarz">besonderen Seitengriff, der Kyusu</a>. In der Regel hat diese Teekanne auch ein integriertes Teesieb. Hier kann man die losen Blätter hineingeben. Wenn Ihr kein Teesieb habt, könnt Ihr die losen Blätter auch direkt in die Tasse geben.</p>
<p> <img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/japan-sencha-teezeremonie_480x480.jpg?v=1638819671" alt="Japan Sencha Teezeremonie" style="display: block; margin-left: auto; margin-right: auto;"></p>
<p style="text-align: center;"><em><i>Genießt Eure Sencha-Teezeremonie - wahlweise mit Kyusu!</i></em></p>
<h2 id="viereins">Sencha Ziehzeit</h2>
<p>Der Tee sollte nie länger als eine Minute ziehen. Der zweite bis vierte Aufguss sollte besonders kurz ausfallen mit 10 Sekunden. Natürlich sind das hier nur allgemeine Richtlinien, die perfekte Zubereitungsart erfahrt Ihr immer als Hinweis auf der Verpackung. Sobald das heiße Wasser über die Blätter läuft, entfalten sie sich und das Aroma wird freigesetzt.</p>
<p>Achtet darauf, den Tee nicht länger als eine Minute ziehen zu lassen. Das ist eine wichtige Empfehlung für Sencha. Bei längeren Ziehzeiten schmeckt dieser Grüntee schnell bitter und der wahrhaftig gute Geschmack wird niemals zur Geltung kommen.</p>
<h2 id="funf">Sencha Tee Anbaumethode und Anbaugebiete</h2>
<p>Für den Anbau von Sencha verwendet man Blätter der Camellia Sinensis. Sie werden direkt nach der Ernte sofort gedämpft, zu dünnen, nadelartigen Blättern gerollt und getrocknet, sodass möglichst kein Sonnenlicht die Blätter berührt. </p>
<p>Dank der frühzeitigen Dämpfung bleibt die grüne Farbe des Tees erhalten und der Polyphenolgehalt wird ebenso bewahrt. Die Oxidation wird also frühzeitig verhindert, um das Beste aus der Teepflanze zu erhalten.</p>
<p>Das größte Anbaugebiet für Sencha-Grüntee liegt in <strong>Shizuoka. Unser Japan Sencha wird in Kyushu, Japan angebaut.</strong> Die Erntezeit erstreckt sich von Juni bis August, insbesondere von der Strauchsorte Oku Midori.</p>
<h2 id="sechs">Sencha Wirkung: Was sind die positiven Effekte?</h2>
<p>Sencha Tee ist ein gesundes Getränk, wenn man es mit Softdrinks vergleicht. Es ist kalorienarm und kommt dem Wasser nahe. Im Sommer eignet sich ein eisgekühlter Sencha-Tee sehr gut, um die Flüssigkeitszufuhr zu regulieren. Sencha als Alltagstee könnt Ihr im Prinzip von morgens bis abends trinken. Solltet Ihr Koffein am Abend nicht so gut vertragen, wechselt am Abend auf einen koffeinarmen Tee. Für solche Fälle haben wir in unserem Onlineshop einen großartigen <a href="https://tea-club.de/products/schwarzer-tee-entkoffeiniert">Schwarztee - koffeinfrei!</a></p>
<p>Sencha Tee bzw. Grüntees im Allgemeinen sind reich an Catechinen, die zu den Polyphenolen gehören. Sie wirken als natürliche Antioxidantien. Und auch sonst punktet Grüntee mit seinen antibakteriellen Eigenschaften.</p>
<p>Dabei muss man jedoch berücksichtigen, dass die antioxidativen Verbindungen von grünem Tee grundsätzlich stark von der Aufgusstemperatur und der Aufgusszeit abhängen. Sencha-Tee beinhaltet im Wesentlichen alle positiven Effekte, die auch andere Grünteesorten aufweisen. Wir haben bereits die wichtigen Ergebnisse für Euch in unserem <a href="https://tea-club.de/blogs/tee-blog/tee-wirkung" title="Tee Wirkung">Elixir-Blog</a> zusammengefasst. Hier erhaltet Ihr zahlreiche Informationen über die <strong>positiven Effekte von Grüntee</strong>.</p>
<h2 id="sieben">Fazit: Bester Sencha Tee</h2>
<p>Es gibt nicht den einen besten Sencha-Tee, der besonders gut schmeckt. Hier heißt es “Probieren geht über Studieren”. Probiert die verschiedenen Senchas mit unterschiedlichen Dämpfungszeiten. Gestaltet Euer ganz persönliches Sencha-Teeritual.</p>
<p>Bei korrekter Zubereitung werdet Ihr Euch garantiert in dem erlesenen Sencha-Geschmack wiederfinden und in das genussvolle Erlebnis eintauchen. Kostet Euren Sencha-Moment in vollen Zügen aus - bewusst, andächtig und dankbar!<br><br></p>
<br>
<p><strong>Quellen:</strong></p>
<p><a href="https://en.wikipedia.org/wiki/Sencha">https://en.wikipedia.org/wiki/Sencha</a></p>
<p> </p>