<h2>Oolong Vietnam - Grüner Oolong-Tee aus Bao Loc in Vietnam</h2>
<p><strong>Inhalt </strong></p>

<p><a href="#eins">1. Was ist der Oolong Tee Vietnam?</a></p>
<p><a href="#zwei">2. Fermentationsgrad Grüner Tee Oolong</a></p>
<p><a href="#zweieins">2.1 Ist der Oolong Vietnam gleichzeitig Grüner Tee?</a></p>
<p><a href="#drei">3. Der Oolong Vietnam belebt Eure Geschmackssinne!</a></p>
<p><a href="#dreieins">3.1 Wie schmeckt der Oolong Vietnam?</a></p>
<p><a href="#dreizwei">3.2 Aussehen Oolong Vietnam</a></p>
<p><a href="#vier">4. Zubereitung Oolong Vietnam Tee</a></p>
<p><a href="#viereins">4.1 Wie viele Aufgüsse erhält man vom Oolong Vietnam?</a></p>
<p><a href="#funf">5. Die besondere Geschichte des Oolong Vietnams</a></p>
<p><a href="#sechs">6. Wie wird der Oolong Vietnam Tee angebaut?</a></p>
<p><a href="#sieben">7. Die aufstrebende Teekultur in Vietnam</a></p>
<p><a href="#acht">8. Der Vietnam Oolong ist unter Tee-Experten gefragt</a></p>
<p><a href="#neun">9. Zubehör für den Vietnam Oolong</a></p>
  
<p> </p>
<h2 id="eins"><span style="font-weight: 400;">1. Was ist der Oolong Tee Vietnam?</span></h2>
<p>Der Name <b>Oolong Vietnam</b> ist eine Eigenkreation von uns. Er wurde benannt, um auf die besondere Herkunft zu verweisen. Tees aus alternativen Anbauregionen beispielsweise Vietnam, sind immer beliebter.  Die Vietnams Oolongs verschiedener Stile sind neben den klassischen Oolongs aus Taiwan definitiv gefragt. Bei unserem Vietnam Oolong handelt es sich um einen <b>erstklassigen Oolong aus Vietnam, Bao Loc.</b><span style="font-weight: 400; color: #ff2a00;"><br /></span></p>
<p><span style="font-weight: 400;">Lam Dong liegt im Süden Vietnams. Man kann sagen, dass man hier die meisten Oolongs in Vietnam produziert, wie auch den bekannten Tung Ting Oolong Tee. </span><span style="font-weight: 400;">Seit Jahrzehnten entstehen hier die besten grünen Oolong Tees. Aufgrund der Nähe zu Taiwan, verwendet man die von Taiwanesen überlieferten Methoden.</span></p>
<h2 id="zwei"><span style="font-weight: 400;">2. Fermentationsgrad Grüner Tee Oolong</span></h2>
<p>Unser Oolong Vietnam wurde so weit fermentiert, dass er noch einen <b>Grüntee-Charakter </b> aufweist. Sowohl die Blattfarbe als auch der aufgebrühte Tee sind grün.  Er wird unter Teespezialisten als <b>Grüner Tee Oolong</b> oder <b> Grüner Oolong</b> bezeichnet.</p>
<h3 id="zweieins"><span style="font-weight: 400;">2.1 Ist der Oolong Vietnam gleichzeitig Grüner Tee?</span></h3>
<p>Die Antwort ist simpel: Es gibt sowohl grüne Oolongs als auch schwarze Oolongs. Wird ein Oolong länger fermentiert, ändert sich die Blattfarbe in einen braun-rötlichen Ton. Der Tee erhält einen Schwarztee Charakter wie beim <a href="https://tea-club.de/products/magic-oolong">Magic Oolong</a>. Ein <b>Oolong Vietnam</b> wird deutlich kürzer fermentiert als ein schwarzer Oolong.</p>
<p> </p>
<table width="100%">
<tbody>
<tr>
<td style="text-align: center;"><strong> Grüner Oolong</strong></td>
<td style="text-align: center;"><strong>Schwarzer Oolong</strong></td>
</tr>
<tr>
<td style="text-align: center;"><img class="lazy2 lazy3" alt="Grüner Oolong aus Vietnam" src="https://cdn.shopify.com/s/files/1/0821/7481/products/vietnam-oolong_913ddae5-6365-483c-b227-0b64612ee512_large.JPG?v=1488995991" style="float: none;" /><br /><em>Vietnam Oolong</em></td>
<td style="text-align: center;"><img class="lazy2 lazy3" alt="Schwarzer Oolong aus Formosa, Taiwan" src="https://cdn.shopify.com/s/files/1/0821/7481/products/magic-oolong_16079d43-de19-4ef2-9fe2-8f650d8a8e15_large.JPG?v=1488995735" style="float: none;" /><br /><i>Magic Oolong</i></td>
</tr>
</tbody>
</table>
<h2 id="drei"><span style="font-weight: 400;">3. Der Oolong Vietnam belebt Eure Geschmackssinne!</span></h2>
<p>Wir lieben unseren Oolong Tee Vietnam. Die leuchtend grüne Tasse besticht mit einer duftigen Blume und verwöhnt die Geschmackssinne mit einem <b>blumigen und süßen Aroma</b><span style="font-weight: 400;">.</span></p>
<h3 id="dreieins"><span style="font-weight: 400;">3.1 Wie schmeckt der Oolong</span> <span style="font-weight: 400;">Vietnam?</span></h3>
<p><span style="font-weight: 400;">Das süße Aroma bringt Noten von braunem Zucker und süßer Sahne. Daneben schmeckt man blumige Nuancen sowie einen Hauch von Zitrusfrucht. Der Nachgeschmack ist süß mit einer blumigen Essenz - ein grüner Oolong der überzeugt.<sup>1</sup></span></p>
<h3 id="dreizwei"><span style="font-weight: 400;">3.2 Aussehen Oolong</span> <span style="font-weight: 400;">Vietnam</span></h3>
<p>Die Teeblätter haben eine helle bis dunkelgrüne Farbe. Die Teeblätter sind zu Halbkugeln gepresst. Das Aroma riecht nach braunem Zucker und Zimt. Für Liebhaber ist der Tee besonders geeignet. Er verbirgt seine <b>besondere Anbau-Geschichte</b><span style="font-weight: 400;"> in Vietnam. Ihr werdet darüber weiter unten mehr erfahren. Er ist besonders mild und einfach in der Zubereitung. Der Vietnam Oolong ist ein loser Oolong Tee mit natürlichem Koffein ohne zusätzliche Aromen.</span></p>
<h2 id="vier"><span style="font-weight: 400;">4. Zubereitung Oolong Vietnam Tee </span></h2>
<p><span style="font-weight: 400;">Einen Oolong-Tee zuzubereiten ist die pure Freude. Wir empfehlen vier Teelöffel der losen Teeblätter auf 1 Liter Wasser. Der erste Aufguss darf bei 90 °C für 3 Minuten ziehen. Die darauf folgenden Aufgüsse benötigen weniger Ziehzeit. Für den 2. - 5. Aufguss sollte der Tee bei 90 °C Wasser für 1-3 Minuten ziehen. Probiert Euch aus und variiert Eure Zubereitungsart, um Euren Lieblingsaufguss herauszuarbeiten. </span></p>
<h3 id="viereins"><span style="font-weight: 400;">4.1 Wie viele Aufgüsse erhält man vom Oolong Vietnam?</span></h3>
<p><span style="font-weight: 400;">Der Oolong Vietnam kann mehrfach aufgegossen werden. Lasst Euch gerne auf eine kleine Reise der Sinne ein!</span></p>
<p><span style="font-weight: 400;">Der erste Aufguss ergibt einen Likör mit einer hellen, grünlich-gelben Farbe, vollkommen klar und transparent. Beim 2. Aufguss behält der Tee seine blumige Essenz. Die Aromen und Geschmäcker sind durch die mehrfachen Aufgüsse konsistent. Diese besondere Teesorte aus Vietnam entspricht der Taiwan-Qualität.<sup>1</sup>  </span></p>
<h2 id="funf"><span style="font-weight: 400;">5. Die besondere Geschichte des Oolong Vietnams</span></h2>
<p><span style="font-weight: 400;">Der Boom der vietnamesischen Oolong Produktion begann in den 1990er Jahren. Fortan hat es sich sehr schnell dort entwickelt. Die Teepflanze, die schließlich zu Oolong-Tee verarbeitet wird, wird in dieser Zeit nach Vietnam gebracht. Die Sträucher umfassen heute ein sehr großes Gebiet im südlichen Hochland Vietnams. Die Provinz Lam Dong ist beliebt für seine hervorragenden Oolongs. </span></p>
<p><span style="font-weight: 400;">Die Hauptzentren für die Oolong-Tee-Produktion liegen in der Provinz Lam Dong im zentralen Hochland. Daneben produzieren die Provinzen Son La und Lang Son im Nordwesten und Nordosten Vietnams Oolongs-Tees.</span></p>
<p><span style="font-weight: 400;">Die vietnamesischen Teeproduzenten verfolgen die Richtlinien der taiwanesischen Oolong Produzenten. Partnerschaften mit taiwanesischen Unternehmen sind sehr verbreitet. Die Technologie und die Ausrüstung wird hierfür aus Taiwan importiert.<sup>2</sup><br /></span></p>
<p><span style="font-weight: 400;">In Lam Dong achtet man sehr genau auf die Verwendung nicht-chemischer Düngemittel. Selbstverständlich gibt es auch rein einheimische vietnamesische Marken. </span></p>
<h2 id="sechs"><span style="font-weight: 400;">6. Wie wird der Oolong Vietnam Tee angebaut?</span></h2>
<p><span style="font-weight: 400;">Die frisch gepflückten Teeblätter werden zunächst auf Tüchern unter freiem Himmel in der Sonne getrocknet. In zylindrischen Bambuskörben rollt man sie anschließend, worauf die Blätter brechen. Hiermit leiten die Teeproduzenten die Fermentation ein. Nachdem der gewünschte Fermentationsgrad erreicht ist, wird der Tee bei niedrigen Temperaturen getrocknet. Die getrockneten Blätter werden anschließend genussvoll verzehrt.</span></p>
<p> </p>
<p><img class="lazy2 lazy3" src="https://cdn.shopify.com/s/files/1/0821/7481/files/oolong-vietnam-tee_480x480.jpg?v=1615837874" alt="Oolong Vietnam" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p> </p>
<h2 id="sieben"><span style="font-weight: 400;">7. Die aufstrebende Teekultur in Vietnam </span></h2>
<p><span style="font-weight: 400;">Zwischen dem 13. bis 15. Jahrhundert glaubte man im Vietnam an den philosophischen Wert der Tees. Vietnamesische Gelehrte konsumierten Bücher sowie eine gute Tasse Tee. Sie wollen dem chaotischen Leben entfliehen. In den 1880er Jahren gründete man das erste vietnamesische Teeanbaugebiet in Phu Tho (nahe Hanoi). Aktuell ist Vietnam der siebtgrößte Teeproduzent der Welt. Mehr als 100.000 Tonnen werden jährlich in die Welt exportiert.</span></p>
<p>In Vietnam trinkt man den Tee oft nach dem Essen, um die Verdauung zu fördern. Gleichzeitig verschwinden dadurch die Essensgerüche. Abhängig vom Ziel wählen die man verschiedene Teesorten. Grüner Tee und <a href="https://tea-club.de/collections/oolong-tee" target="_blank" rel="noopener noreferrer">Oolong-Tee</a> wird in Vietnam gerne von Frauen und Männern getrunken.<sup>3</sup></p>
<p><strong> Wir möchten an dieser Stelle nochmals darauf hinweisen, dass sich die beschriebenen Informationen zur Vietnam Oolong nicht auf ein speziell von uns angebotenes Produkt beziehen, sondern allgemeiner Natur sind. Wir haben die Informationen besten Wissens ausgearbeitet, allerdings ohne Anspruch auf Vollständigkeit.</strong></p>
<h2 id="acht"><span style="font-weight: 400;">8. Der Vietnam Oolong ist unter Tee-Experten gefragt</span></h2>
<p><span style="font-weight: 400;">Vietnams Spezialitätenmarkt ist relativ jung, aber er wächst. Oolongs aus Vietnam bilden eine Nische innerhalb der Oolong Community. Die Neugier für Qualitätstees aus Vietnam wird immer größer. Der Oolong Teemarkt ist aufstrebend.<sup>3</sup></span><span style="font-weight: 400;"> <br /></span></p>
<p>In den nördlichen Provinzen produziert Moc Chau in der Provinz Son La einige exzellente Oolong-Tees verschiedener Stile z.B. grüne, rote und bug-bitten Oolongs. <b>Probiert unseren Vietnam Oolong aus Bao Loc und überzeugt Euch selbst!</b></p>
<h2 id="neun"><span style="font-weight: 400;">9. Zubehör für den Vietnam Oolong <br /></span></h2>
<p><span style="font-weight: 400;">Wie ihr wisst, entfaltet sich der Geschmack erst mit der richtigen Kanne. Für einen optimalen <span style="color: #000000;">Aufguss empfehle ich <a href="https://tea-club.de/collections/glas-teekannen-mit-teesieb" title="Glas Teekannen" style="color: #000000;">Glas Teekanne</a> oder eine Japanische <a href="https://tea-club.de/collections/japanische-teekannen" title="Japanische Einhand-Teekanne" style="color: #000000;">Einhand-Teekanne</a>.</span> Hier kann sich der Geschmack besonders gut entfalten. Mit dem Oolong Vietnam Tee kann der Tag starten. </span><i><span style="font-weight: 400;">Good Morning Vietnam</span></i> <br /><br /></p>
<p><strong>Quellen: </strong></p>
  <p><span style="font-weight: 400;">1. <a href="https://teajourneyman.wordpress.com/2014/06/26/tu-quy-oolong-tea-from-lam-dong-province-in-vietnam">https://teajourneyman.wordpress.com/2014/06/26/ tu-quy-oolong-tea-from-lam-dong- province-in-vietnam</a><br /></span></p>
<p><span style="font-weight: 400;">2. <a href="https://www.killgreen.io/main/vietnamese-tea-origin">https://www.killgreen.io/main/ vietnamese-tea-origin</a></span></p>
  <p><span style="font-weight: 400;">3. <a href="https://www.itourvn.com/blog/vietnamese-tea-culture">https://www.itourvn.com/blog/ vietnamese-tea-culture</a></span></p>
<br /><br/>